﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="card" ng-controller="AccountInfoController">
    <div class="card-header h6">
        Đổi mật khẩu
    </div>
    <div class="card-body text-center">
        <form class="frm-change-password">
            <div class="d-flex flex-column align-items-center">
                <div class="input-group w-300 mb-2">
                    <input class="form-control" type="password" ng-model="oldPassword" placeholder="Mật khẩu cũ">
                    <span class="input-group-addon">
                        <i class="icon-lock"></i>
                    </span>
                </div>
                <div class="input-group w-300 mb-2">
                    <input class="form-control" type="password" ng-model="newPassword" placeholder="Mật khẩu mới">
                    <span class="input-group-addon">
                        <i class="icon-lock"></i>
                    </span>
                </div>
                <div class="input-group w-300 mb-2">
                    <input class="form-control" type="password" ng-model="prePassword" placeholder="Xác nhận mật khẩu mới">
                    <span class="input-group-addon">
                        <i class="icon-lock"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-danger" type="button" data-toast="" data-toast-position="topRight"
                            data-toast-type="success" data-toast-icon="icon-circle-check" data-toast-title="Success!"
                            data-toast-message="Cập nhật mật khẩu thành công." ng-click="ChangePassword()">
                        Đổi mật khẩu
                    </button>
                    <a id="open-modal-change-password-success" href="#" data-toggle="modal" data-target="#modal-change-password-success" hidden></a>
                    <a id="open-modal-change-password-error" href="#" data-toggle="modal" data-target="#modal-change-password-fail" hidden></a>
                </div>
            </div>
    </div>
    </form>
</div>
@*Cập nhật thông tin thành công*@
@*<script type="text/ng-template" id="completeOrder.html">*@
<div class="modal fade" id="modal-change-password-success" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular green-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="checkmark green-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                    <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Cập nhật mật khẩu thành công.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                    @*<div class="col-6">
                            <button class="btn btn-danger btn-block" type="button" ng-click="GoHome()">Đặt tiếp</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@*</script>*@
@*Cập nhật không thành công*@
<div class="modal fade" id="modal-change-password-fail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular red-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="cross red-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-502.652,-204.518)">
                                    <path class="first-line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                </g>
                                <g transform="matrix(-1.28587e-16,-0.79961,0.79961,-1.28587e-16,-204.752,543.031)">
                                    <path class="second-line" d="M634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Cập nhật mật khẩu không thành công.</p>
                        <p>Vui lòng thử lại</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                    @*<div class="col-6">
                            <button class="btn btn-danger btn-block" type="button">Thử lại</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>