﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
    <div class="container-fluid pt-4 my-4 px-0 container-contact">
        <div class="row">
            <div class="col-md-4 "></div>
            <div class="col-md-4 bg-danger text-center text-white py-2 heading-title">
                Liên hệ với chúng tôi
            </div>
            <div class="col-md-4 "></div>
        </div>
        <div class="row bg-white body-info rounded shadow">
            <div class="col-md-6 ">
                <h4>Công ty CP Jinz Group</h4>
                <p>Địa chỉ: 59-61 Nguyễn Trường Tộ, P.12, Q.4, TpHCM</p>
                <p>MST: 0314711879</p>
                
            </div>
            <div class="col-md-6 ">
                <h4>&nbsp;</h4>
                <p>
                    <i class="text-danger icon-phone icons pr-2"></i>(+84) 0906887792
                </p>
                <p>
                    <i class="text-danger icon-envelope icons pr-2"></i>info@jinzfood.com
                </p>
                <p>
                    <a class="social-button shape-circle facebook-btn " href="https://www.facebook.com/jinzfood">
                        <i class="icon-social-facebook icons "></i>
                    </a>
                    <a class="social-button shape-circle instagram-btn " href="# ">
                        <i class="icon-social-instagram icons "></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="row mt-4 body-form p-0" ng-controller="ContactController">
            <div class="col-md-6 pl-0 ml-0">
                <div class="col-md-12 p-3 bg-white rounded shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="form-control form-control-rounded" type="text" ng-model="modelContact.fullName" placeholder="Họ và tên">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6">
                            <input class="form-control form-control-rounded" type="text" ng-model="modelContact.phone" placeholder="Số điện thoại">
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control form-control-rounded" ng-model="modelContact.email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-12">
                            <textarea class="form-control" ng-model="modelContact.message" id="textarea-input" rows="12">Bạn cần hỗ trợ vấn đề gì ?</textarea>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-danger px-5 py-1" ng-click="SendContact(modelContact);">Gửi</button>
                            <a id="open-modal-send-contact-success" href="#" data-toggle="modal" data-target="#modal-send-contact-success" hidden></a>
                            <a id="open-modal-send-contact-error" href="#" data-toggle="modal" data-target="#modal-send-contact-fail" hidden></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0" style="height:450px !important;">
                <div class="col-md-12 bg-white rounded shadow p-0" style="height: 440px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6027886829347!2d106.70294691417172!3d10.765064762348507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6a254ae5c3%3A0x1e90c95460b47f36!2zNTkgTmd1eeG7hW4gVHLGsOG7nW5nIFThu5ksIHBoxrDhu51uZyAxMiwgUXXhuq1uIDQsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1532447740343" width="100%" height="450px;" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                @*<ng-map center="10.7554061, 106.6903797"
                        zoom="12" pan-control="false" street-view-control="true" street-view-control-options="{position: 'RIGHT_BOTTOM'}"
                        map-type-control="false" scale-control="true"
                        default-style="true" zoom-to-include-markers="true" class="map">
                    <directions draggable="false"
                        panel="directions-panel"
                        polyline-options="{ strokeColor: '#d23c40'}"
                        travel-mode="WALKING"
                        ng-waypoints='ways'
                        suppress-markers="true"
                        origin="10.7554061, 106.6903797"
                        destination="10.79507, 106.596009">
            </directions>
                    <custom-marker position="[10.7554061, 106.6903797]">
                        <div class="imgCircle">
                            <span>
                                <img src="~/Content/img/here.png" style="width: 32px; height: 32px;" />
                            </span>
                        </div>
                    </custom-marker>
                    <custom-marker position="[10.79507, 106.596009]">
                        <div class="imgCircle user">
                            <img src="~/Content/img/filled-flag2.png" style="width: 32px; height: 32px;" />
                        </div>
                    </custom-marker>
                </ng-map>*@
            </div>
        </div>
    </div>
</div>
@*send thông tin thành công*@
<div class="modal fade" id="modal-send-contact-success" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular green-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="checkmark green-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                    <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Gửi thông tin liên hệ thành công.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Send không thành công*@
<div class="modal fade" id="modal-send-contact-fail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular red-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="cross red-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-502.652,-204.518)">
                                    <path class="first-line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                </g>
                                <g transform="matrix(-1.28587e-16,-0.79961,0.79961,-1.28587e-16,-204.752,543.031)">
                                    <path class="second-line" d="M634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Gửi thông tin liên hệ không thành công.</p>
                        <p>Vui lòng thử lại</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
