﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="card">
    <div class="card-header h6">
        Cập nhật hóa đơn VAT
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0">Tên công ty</th>
                    <th scope="col" class="border-top-0">Địa chỉ công ty</th>
                    <th scope="col" class="border-top-0">Mã số thuế</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Thuy Trang</th>
                    <td>Cach Mang Thang 8</td>
                    <td>xxx</td>
                    <td class="text-right">
                        <a href="#" class="text-blue pr-2">
                            <i class="icons icon-note"></i> Sua
                        </a>
                        <a href="#" class="text-danger">
                            <i class="icons icon-trash"></i> Xoa
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="mt-2 mb-3">
        <h6 class="mb-3">Nhập thông tin để xuất hóa đơn VAT</h6>
        <form class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" id="account-fn" value="" required="" placeholder="Tên công ty">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" id="account-ln" value="" required="" placeholder="Mã số thuế">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Địa chỉ công ty"></textarea>
                </div>
            </div>
            <div class="col-12 text-right">
                <button class="btn btn-danger margin-right-none" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-circle-check" data-toast-title="Success!" data-toast-message="Cap nhat thanh cong.">Lưu thay đổi</button>
            </div>
        </form>
    </div>
</div>

