/*------------------------------------ Desktop CSS ---------------------------------------------*/
.wsmenu-nonresponsive{
	font-family:Helvetica, sans-serif;
	color:#fff;
	position:relative;
	font-size:15px;
	padding:0px;
	margin:0px auto;
	width:100%;
	max-width:1200px;
	background-color:#ffffff;
	-webkit-border-radius:4px 4px 0px 0px;
	-moz-border-radius:4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;}
	
.wsmenu-nonresponsive .wsmenu-list{
	text-align:left;
	margin:0 auto 0 auto;
	width:100%;
	display: table;
	padding:0px;}
	
.wsmenu-nonresponsive .wsmenu-list > li{
	text-align:center;
	display: table-cell;}
	
.wsmenu-nonresponsive .wsmenu-list li:first-child a{
	-webkit-border-radius:4px 0px 0px 0px;
	-moz-border-radius:4px 0px 0px 0px;
	border-radius:4px 0px 0px 0px;}
	
.wsmenu-nonresponsive .wsmenu-list li:last-child a{
	-webkit-border-radius:0px 4px 0px 0px;
	-moz-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
	border-right:0px solid;}
	
.wsmenu-nonresponsive .wsmenu-list > li > a .fa{
	display: inline-block;
	font-size:14px;
	line-height:inherit;
	margin-right:0px;}
	
.wsmenu-nonresponsive .wsmenu-list li ul li a .fa.fa-angle-double-right{ font-size:12px; margin: 0 3px 0 -4px;}

.wsmenu-nonresponsive .wsmenu-list li a .arrow:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #b3b3b3;
    content: "";
    float: right;
    height: 0;
    margin: 0 0 0 9px;
    position: absolute;
    text-align: right;
    top: 22px;
    width: 0;}

.wsmenu-nonresponsive .wsmenu-list > li > a{
	display:block;
	background-color:#fff;
	color:#424242;
	padding:0px 14px; line-height:48px;
	border-right:1px solid rgba(0,0,0,0.10);
	text-decoration:none;
	position:relative;
	}

.wsmenu-nonresponsive .wsmenu-list li a:hover .arrow:after{ border-top-color:#b3b3b3}
.wsmenu-nonresponsive .wsmenu-list li a.active .arrow:after{ border-top-color:#b3b3b3}
.wsmenu-nonresponsive .wsmenu-list li:hover>a .arrow:after{ border-top-color:#b3b3b3}

.wsmenu-nonresponsive .megamenu iframe{width:100%; margin-top:10px; min-height:200px; }
.wsmenu-nonresponsive .megamenu video{ width:100%; margin-top:10px;  min-height:200px;}

/*For megamenu desktop */
.wsmenu-nonresponsive .wsmenu-list li:hover .megamenu{opacity:1;}
.wsmenu-nonresponsive .megamenu{
	width:100%;
	left:0px;
	position:absolute;
	top:48px;
	color:$core_colorText;
	z-index:1000;
	margin:0px;
	text-align:left;
	padding:14px;
	font-size:15px;
	border:solid 1px #eeeeee;
	background-color:#fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;}

.wsmenu-nonresponsive .megamenu .title{
	border-bottom:1px solid #CCC;
	font-size:14px;
	padding:9px 5px 9px 0px;
	font-size:17px;
	color:#424242;
	margin-bottom:7px;
	text-align:left;
	height:39px;}
	
.wsmenu-nonresponsive .link-list li{
	display:block;
	text-align:center;
	white-space:nowrap;
	text-align:left;}
	
.wsmenu-nonresponsive .link-list li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:6px 0px;
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display:block;
	border-right:1px solid #e7e7e7;
	background-color:#fff;
	color:#424242;}
	
.wsmenu-nonresponsive .link-list .fa{font-size:11px;}

.wsmenu-nonresponsive .megacollink{width:23%; float:left; margin:0% 1%;}	
.wsmenu-nonresponsive .megacollink li{
	display:block;
	text-align:center;
	white-space:nowrap;
	text-align:left;}
.wsmenu-nonresponsive .megacollink li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:8px 0px;
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display:block;
	border-right:1px solid #e7e7e7;
	background-color:#fff;
	color:#424242;}
.wsmenu-nonresponsive .megacollink .fa{font-size:11px;}

.wsmenu-nonresponsive .megacolimage{width:31.33%; float:left; margin:0% 1%;}	
.wsmenu-nonresponsive .typographydiv{width:100%; margin:0% 0%;}	
.wsmenu-nonresponsive .typographylinks{width:25%; float:left; margin:0% 0%;}	
.wsmenu-nonresponsive .mainmapdiv{ width:100%; display:block; margin:0% 0%; }

.wsmenu-nonresponsive .wsmenu-list .ad-style{width:28%; float:right;}
.wsmenu-nonresponsive .wsmenu-list .ad-style a{border:none !important; padding:0px !important; margin:0px !important; line-height:normal !important; background-image:none !important;}
.wsmenu-nonresponsive .mobile-sub .megamenu .ad-style a:hover{ background-color:transparent !important; }
.wsmenu-nonresponsive .wsmenu-list .megamenu  li:hover>a{background:transparent !important;}
.wsmenu-nonresponsive .wsmenu-list .megamenu  li a:hover{background:transparent !important; text-decoration:underline;}
.wsmenu-nonresponsive .wsmenu-list .megamenu li .fa {  margin-right:5px;    text-align: center;    width: 18px;}
.wsmenu-nonresponsive .mrgtop{ margin-top:15px; }
.wsmenu-nonresponsive .show-grid div{padding-bottom: 10px; padding-top: 10px; background-color:#dbdbdb; border: 1px solid #e7e7e7; color:#6a6a6a; margin:2px 0px;}


/*For halfmenu */
.wsmenu-nonresponsive .halfmenu{
	width:40%;
	right:auto !important;
	left:auto !important;}

.wsmenu-nonresponsive .halfmenu .megacollink{
	width:48%;
	float:left;
	margin:0% 1%;}		
/*For halfmenu */


/*Form for desktop */
.wsmenu-nonresponsive .halfdiv{
	width:35%;
	right:0px !important;
	left:auto;}
	
.wsmenu-nonresponsive .menu_form{width:100%; display:block;}
.wsmenu-nonresponsive .menu_form input[type="text"]{
	width:100%;
	border:1px solid #e2e2e2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:$core_colorText;
	font-size:13px;
	padding:8px 5px;
	margin-bottom:8px;
	}
.wsmenu-nonresponsive .menu_form textarea{
	width:100%;
	border:1px solid #e2e2e2;
	border-radius:5px;
	color:$core_colorText;
	font-size:13px;
	padding:8px 5px;
	margin-bottom:8px;
	min-height:122px;}
	
.wsmenu-nonresponsive .menu_form input[type="submit"]{width:25%; display:block; height:28px; float:right;  border:solid 1px #ccc; margin-right:15px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.wsmenu-nonresponsive .menu_form input[type="button"] {width:25%; display:block; height:28px; float:right; border:solid 1px #ccc; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}

.wsmenu-nonresponsive .megamenu .left.carousel-control{ padding-top:20%; }
.wsmenu-nonresponsive .megamenu .right.carousel-control{ padding-top:20%; }
.wsmenu-nonresponsive .carousel-inner .item img{ width:100%; }
.wsmenu-nonresponsive .megamenu .carousel-caption{
	bottom:0px;
	background-color:rgba(0,0,0,0.7);
    font-size: 13px;
    height: 31px;
    left: 0;
    padding: 7px 0;
    right: 0;
    width: 100%;}

/*Animation*/
.wsmenu-nonresponsive .wsmenu-list li > .wsmenu-submenu{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
		}
	
.wsmenu-nonresponsive .wsmenu-list li:hover > .wsmenu-submenu{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

.wsmenu-nonresponsive .wsmenu-submenu li > .wsmenu-submenu-sub{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-nonresponsive .wsmenu-submenu li:hover > .wsmenu-submenu-sub{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

.wsmenu-nonresponsive .wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-nonresponsive .wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

.wsmenu-nonresponsive .wsmenu-list li > .megamenu{
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility:hidden;
	}
	
.wsmenu-nonresponsive .wsmenu-list li:hover > .megamenu{
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    opacity: 1;
	visibility:visible;
	}

	
/* Submenu CSS */
.wsmenu-nonresponsive .wsmenu-submenu{
	position:absolute;
	top: 48px;
	z-index:1000;
	margin:0px;
	padding:2px;
	border:solid 1px #eeeeee;
	background-color:#fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;}

.wsmenu-nonresponsive .wsmenu-submenu li a {
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	text-align:left;
	display:block;
	line-height:22px;
	padding:6px 12px;
	text-transform:none; 
	font-size:13px;
	letter-spacing:normal;
	border-right:0px solid;}

.wsmenu-nonresponsive .wsmenu-submenu li{position:relative; margin:0px; padding:0px;}

.wsmenu-nonresponsive .wsmenuexpandermain{display:none;}

.wsmenu-nonresponsive .wsmenu-list li:hover .wsmenu-submenu{display:block;}

.wsmenu-nonresponsive .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub{min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;}
	
.wsmenu-nonresponsive .wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}
.wsmenu-nonresponsive .wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub{display:block;}
.wsmenu-nonresponsive .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub{
	min-width:220px; position:absolute; left:100%; top:0; margin:0px; padding:0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;}
	
.wsmenu-nonresponsive .wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub{opacity:1; list-style:none; padding:2px; border:solid 1px #eeeeee; background-color:#fff;}

.wsmenu-nonresponsive .wsmenu-submenu li{position:relative; padding:0px; margin:0px; display:block;}

.wsmenu-nonresponsive .wsmenu-click{display:none;}


/* Default Theme */ 
.wsmenu-nonresponsive .wsmenu-list li:hover>a{background-color:rgba(0,0,0,0.08) !important; text-decoration:none;}
.wsmenu-nonresponsive .wsmenu-list > li > a:hover {background-color:rgba(0,0,0,0.08) !important;  text-decoration:none;}
.wsmenu-nonresponsive .wsmenu-list > li > a.active{background-color:rgba(0,0,0,0.08) !important; text-decoration:none; }
.wsmenu-nonresponsive .wsmenu-submenu > li > a:hover {background-color:rgba(0,0,0,0.08) !important; border-radius:0px!important; text-decoration:none;  text-decoration:none;}

.wsmenu-nonresponsive .typography-text { padding:0px 0px; font-size:15px;}
.wsmenu-nonresponsive .typography-text p{ text-align:justify; line-height:24px; color:#656565;}
.wsmenu-nonresponsive .typography-text ul li{ display:block; padding:2px 0px; line-height:22px;}
.wsmenu-nonresponsive .typography-text ul li a{color:#656565;}
.wsmenu-nonresponsive .hometext{display:none;}
.wsmenu-nonresponsive .wsmenu-submenu .fa{ margin-right:7px;}


@media only screen and (min-width:780px) and (max-width:1023px) {
.wsmenu-nonresponsive .wsmenu-list > li > a > .fa { display:none !important;}
.wsmenu-nonresponsive .hometext{ display:block !important;}
.wsmenu-nonresponsive .wsmenu{ font-size:13px !important;}
.wsmenu-nonresponsive .wsmenu-list li a { white-space:nowrap !important; padding-left:4px !important; padding-right:4px !important;}
.wsmenu-nonresponsive .megacollink {width:48%; margin:1% 1%;}
.wsmenu-nonresponsive .typographylinks{width:48%; margin:1% 1%;}
}


@media only screen and (min-width: 781px) and (max-width:1200px) {
.wsmenu-nonresponsive .wsmenu-list li a .arrow:after{ display:none !important; }
}
