﻿<!-- Site Footer-->
<footer class="site-footer ">
    <div class="container ">
        <div class="row pt-5 pb-2">
            <div class="col-lg-3"></div>
            <div class="col-lg-3 col-6 text-center">
                <p>
                    <img src="~/Content/img/shipping.png">
                </p>
                <p class="font-weight-bold text-lg text-uppercase">Shipping</p>
                <p>Bảo đảm giao hàng đúng thời gian</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <p>
                    <img src="~/Content/img/guarantee.png">
                </p>
                <p class="font-weight-bold text-lg text-uppercase">Guarantee</p>
                <p>Bảo đảm giao hàng đúng chất lượng, đủ số lượng</p>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-none d-lg-block">
                <div class="widget widget-footer-links pt-4 font-weight-normal">
                    <ul>
                        <li>
                            <a href="# ">Hóa đơn</a>
                        </li>
                        <li>
                            <a href="# ">Customer Care</a>
                        </li>
                        <li>
                            <a href="# ">Quy trình đặt hàng</a>
                        </li>
                        <li>
                            <p class="font-weight-normal mb-0">Các phương thức thanh toán</p>
                            <a class="social-button shape-circle sb-cash-on-delivery sb-light-skin " href="# ">
                                <i class="pf pf-cash-on-delivery"></i>
                            </a>
                            <a class="social-button shape-circle sb-visa sb-light-skin " href="# ">
                                <i class="pf pf-visa"></i>
                            </a>
                            <a class="social-button shape-circle sb-paypal sb-light-skin " href="# ">
                                <i class="pf pf-paypal"></i>
                            </a>
                            <a class="social-button shape-circle sb-credit-card sb-light-skin " href="# ">
                                <i class="pf pf-credit-card"></i>
                            </a>
                        </li>
                        <li>
                            <a href="# ">Need help?</a>
                        </li>
                        <li>
                            <a href="# ">Q&A</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <p>
                    <img class="w-110" src="~/Content/img/logo/logo-circle.png ">
                </p>
                <p class="font-weight-bold">&copy; 2018 jinzfood.com - JINZ GROUP</p>
                <p class="font-weight-normal ">Kem - Thức uống - Thực phẩm</p>
                <p class="font-weight-bold">Theo dõi chúng tôi trên</p>
                <p>
                    <a class="social-button shape-circle facebook-btn " href="# ">
                        <i class="icon-social-facebook icons "></i>
                    </a>
                    <a class="social-button shape-circle instagram-btn " href="# ">
                        <i class="icon-social-instagram icons "></i>
                    </a>
                </p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập địa chỉ email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="button">Nhận thông báo</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-none d-lg-block">
                <section class="widget widget-footer-links">
                    <p class="font-weight-bold">Về chúng tôi</p>
                    <ul>
                        <li>
                            <a href="# ">Thông tin liên hệ</a>
                        </li>
                    </ul>
                    <p>Công ty CP Jinz Group</p>
                    <p class="font-weight-bold">Địa chỉ</p>
                    <p>59-61 Nguyễn Trường Tộ, P.12, Q.4, TpHCM</p>
                    @*<p>360C Bến Văn Đồn, Quận 4 Thành phố Hồ Chí Minh</p>
                        <p>360C Bến Văn Đồn, Quận 4 Thành phố Hồ Chí Minh</p>*@
                    <p>
                        <span class="font-weight-bold ">Hotline:</span>
                        <span class="text-lg "> 0906887792</span>
                    </p>
                    <p>
                        <a href="#">
                            <img class="w-150 pb-2" src="~/Content/img/bct.png">
                        </a>
                    </p>
                </section>
            </div>
        </div>
    </div>
</footer>
  </div>

<!-- Choose Location -->
<div class="modal fade" id="modal-choose-location" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-header text-center bg-danger py-2">
                <h6 class="modal-title text-white">Chọn Chi Nhánh</h6>
                <button class="x-icon" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0 pt-1">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#location-tab1" data-toggle="tab" role="tab">Gần tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#location-tab2" data-toggle="tab" role="tab">Được đặt nhiều</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#location-tab3" data-toggle="tab" role="tab">Verified Merchant</a>
                    </li>
                </ul>
                <div class="tab-content p-3 container-location">
                    <div class="tab-pane fade show active" id="location-tab1" role="tabpanel">
                        <ul class="p-0">
                            <li class="product-card product-list m-0 py-2" ng-repeat="(index, location) in locationList">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">{{location.name}}</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="location-tab2" role="tabpanel">
                        <ul class="p-0">
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 2 - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 2- Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 2- Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 2- Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="location-tab3" role="tabpanel">
                        <ul class="p-0">
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 3 - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 3 - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 3 - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop 3 - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                            <li class="product-card product-list m-0 py-2">
                                <a class="product-thumb p-0" href="#">
                                    <img class="rounded" src="~/Content/img/shop.jpg" alt="">
                                </a>
                                <div class="product-info p-0 pl-3">
                                    <p class="product-title m-0">
                                        <a href="#">Kido Shop - Nguyễn Trãi</a>
                                    </p>
                                    <p class="m-0">Kem / Bánh</p>
                                    <p class="text-secondary">34 phút 0.7km</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Xác nhận đơn hàng -->
<div class="modal fade" id="modal-booking" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-header text-center py-2">
                <h6 class="modal-title">Xác nhận đơn hàng</h6>
                <button id="close-modal-booking" class="x-icon" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-0" ng-controller="HomeController">
                <div class="p-0" id="places-map">
                    <!-- <img src="img/map.png"> -->
                </div>
     
                <div class="row m-0 py-2 modal-booking-time">
                    <div class="col-md-7 pr-0">
                        <i class="icon-clock icons"></i>
                        <span class="font-weight-bold">Sớm nhất (ASAP) - 25/06</span> - Dự kiến:
                        <span class="font-weight-bold">30’</span>
                    </div>
                    <div class="col-md-5 pl-0 text-right">
                        <a href="#" data-toggle="modal" data-target="#modal-edit-shipping-info">Thay đổi thông tin giao hàng</a>
                    </div>
                </div>
                <div class="row m-0 modal-booking-table">
                    <table class="table mb-0">
                        <tr>
                            <td colspan="3" class="text-center">
                                <span class="font-weight-bold">Chi tiết đơn hàng</span>
                            </td>
                        </tr>
                        <tr ng-repeat="(index, item) in order.items">
                            <th width="5%" class="text-center" scope="row">{{item.quantity}}</th>
                            <td width="70%">{{item.productTitle}}</td>
                            <td width="25%" class="text-right">{{item.unitPrice * item.quantity | number}}đ</td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="2">
                                <div>
                                    Tổng cộng:
                                    <span class="font-weight-bold">{{order.totalQuantity}}</span> món
                                </div>
                                <div>
                                    Phí vận chuyển:
                                    <span class="text-danger">{{order.distance | number}}km</span>
                                    <i class="icon-info icons"></i>
                                </div>
                                <div class="mt-2 ml-5">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Mã khuyến mãi</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm text-center" value="xxxxxx">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="button">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <p class="font-weight-bold">{{order.totalPrice | number}}đ</p>
                                <p class="font-weight-bold">{{order.orderPriceShip | number}}đ</p>
                                <p class="mb-0 font-weight-bold">- {{order.promoPrice | number}}đ</p>
                            </td>
                        </tr>
                        <tr class="my-2">
                            <td colspan="2" class="text-right">Tổng tiền:</td>
                            <td class="text-right font-weight-bold">{{order.totalPrice + order.orderPriceShip - 0 | number}}đ</td>
                        </tr>
                    </table>
                </div>
                <div class="b-0">
                    <button class="btn btn-block btn-danger btn-lg m-0" ng-click="CompleteOrder()">Hoàn tất đơn hàng</button>
                    <a id="open-modal-success" href="#" data-toggle="modal" data-target="#modal-success" hidden></a>
                    <a id="open-modal-error" href="#" data-toggle="modal" data-target="#modal-fail" hidden></a>
                    <a id="open-modal-no-login" href="#" data-toggle="modal" data-target="#modal-no-login" hidden></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*Chỉnh sửa thông tin giao hàng*@
<div class="modal fade" id="modal-edit-shipping-info" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-header text-center py-2">
                <h6 class="modal-title">Chỉnh sửa thông tin giao hàng</h6>
                <button id="close-modal-edit-shipping-info" class="x-icon" type="button" data-dismiss="modal"
                        aria-label="Close" ng-click="SetDefaultShippingInfo()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex pb-3">
                    <div class="text-bold flex-fill">
                        Chọn địa điểm giao hàng
                    </div>
                    @*<div>
                            <a href="#" class=" text-blue text-bold" data-toggle="modal" data-target="#modal-shipping-info"
                               title="Chọn thông tin có sẵn" ng-click="CloseModalEditShippingInfo()">Chọn thông tin có sẵn</a>
                        </div>*@
                </div>
                <div class="row ">
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="name" placeholder="Name" ng-model="shippingInfo.orderFullName">
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="phone" placeholder="090xxxxx" ng-model="shippingInfo.orderPhone">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <input id="inputField" class="form-control" places-auto-complete size=80
                               ng-model="shippingInfo.orderAddress"
                               types="{{types}}"
                               on-place-changed="placeChanged()" placeholder="Địa chỉ" />
                        @*<input class="form-control" type="text" id="address" placeholder="Địa chỉ" ng-model="shippingInfo.orderAddress">*@
                    </div>
                </div>
                <p class="text-bold m-0 py-2">Thời gian giao hàng</p>
                <div class="row ">
                    <div class="col-6 ">
                        <button class="btn btn-outline-secondary btn-block">22-07-2018</button>
                    </div>
                    <div class="col-6 ">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="filter-option float-left">Sớm nhất(ASAP))</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">ABC</a>
                                <a class="dropdown-item" href="#">ABC</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6 ">
                        <a class="btn btn-secondary btn-block m-0" data-dismiss="modal" ng-click="SetDefaultShippingInfo()">Quay lại</a>
                    </div>
                    <div class="col-6 ">
                        <button class="btn btn-danger btn-block m-0" type="button " data-dismiss="modal" ng-click="SaveShippingInfo()">Hoàn tất</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Chọn thông tin có sẵn*@
<div class="modal fade" id="modal-shipping-info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-header text-center py-2">
                <h6 class="modal-title">Chỉnh sửa thông tin giao hàng</h6>
                <button class="x-icon" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex pb-3">
                    <div class="text-bold flex-fill">
                        Chọn địa điểm giao hàng
                    </div>
                    <div>
                        <a href="#" class=" text-blue text-bold" title="Them ">
                            <i class="icons icon-plus "></i> Them
                        </a>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="flex-fill">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" id="ex-radio-1" name="radio2" checked="">
                            <label class="custom-control-label" for="ex-radio-1">
                                123 Lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                                <p class="m-0">
                                    <span class="text-bold">Name</span> - 0909xxxxxxx
                                </p>
                            </label>
                        </div>
                    </div>
                    <div>
                        <a href="#" class=" text-blue " title="Them ">Sửa</a>
                    </div>
                </div>
                <hr class="my-2">
                <div class="d-flex">
                    <div class="flex-fill">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" id="ex-radio-2" name="radio2">
                            <label class="custom-control-label" for="ex-radio-2">
                                123 Lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                                <p class="m-0">
                                    <span class="text-bold">Name</span> - 0909xxxxxxx
                                </p>
                            </label>
                        </div>
                    </div>
                    <div>
                        <a href="#" class=" text-blue " title="Them ">Sửa</a>
                    </div>
                </div>
                <hr class="my-2">
                <div class="d-flex">
                    <div class="flex-fill">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" id="ex-radio-3" name="radio2">
                            <label class="custom-control-label" for="ex-radio-3">
                                123 Lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                                <p class="m-0">
                                    <span class="text-bold">Name</span> - 0909xxxxxxx
                                </p>
                            </label>
                        </div>
                    </div>
                    <div>
                        <a href="#" class=" text-blue " title="Them ">Sửa</a>
                    </div>
                </div>
                <p>
                    <a data-toggle="collapse" href="#more-shipping-addresses" class="text-blue">Xem them</a>
                </p>
                <div class="collapse" id="more-shipping-addresses">
                    <hr class="my-2">
                    <div class="d-flex">
                        <div class="flex-fill">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" id="ex-radio-4" name="radio2">
                                <label class="custom-control-label" for="ex-radio-4">
                                    123 Lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                                    <p class="m-0">
                                        <span class="text-bold">Name</span> - 0909xxxxxxx
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div>
                            <a href="#" class=" text-blue " title="Them ">Sửa</a>
                        </div>
                    </div>
                    <hr class="my-2">
                    <div class="d-flex">
                        <div class="flex-fill">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input class="custom-control-input" type="radio" id="ex-radio-5" name="radio2">
                                <label class="custom-control-label" for="ex-radio-5">
                                    123 Lorem Ipsum, Lorem Ipsum, Lorem Ipsum
                                    <p class="m-0">
                                        <span class="text-bold">Name</span> - 0909xxxxxxx
                                    </p>
                                </label>
                            </div>
                        </div>
                        <div>
                            <a href="#" class=" text-blue " title="Them ">Sửa</a>
                        </div>
                    </div>
                </div>
                <p class="text-bold m-0 py-2">Thời gian giao hàng</p>
                <div class="row ">
                    <div class="col-6 ">
                        <button class="btn btn-outline-secondary btn-block">15/07/2018</button>
                    </div>
                    <div class="col-6 ">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span class="filter-option float-left">Som nhat(ASAP))</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">ABC</a>
                                <a class="dropdown-item" href="#">ABC</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6 ">
                        <a class="btn btn-secondary btn-block m-0" data-dismiss="modal" ng-click="GoHome()">Trang Chủ</a>
                    </div>
                    <div class="col-6 ">
                        <button class="btn btn-danger btn-block m-0" type="button" ng-click="GoHome()">Đặt tiếp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Đặt hàng thành công*@
@*<script type="text/ng-template" id="completeOrder.html">*@
<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular green-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="checkmark green-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                    <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Chúc mừng bạn đã đặt hàng thành công.</p>
                        <p>Vui lòng chờ xác nhận từ cửa hàng qua điện thoại</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal" ng-click="GoHome()">Trang Chủ</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-block" type="button" ng-click="GoHome()">Đặt tiếp</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</script>*@
@*Đặt hàng không thành công*@
<div class="modal fade" id="modal-fail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular red-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="cross red-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-502.652,-204.518)">
                                    <path class="first-line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                </g>
                                <g transform="matrix(-1.28587e-16,-0.79961,0.79961,-1.28587e-16,-204.752,543.031)">
                                    <path class="second-line" d="M634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Đặt hàng không thành công.</p>
                        <p>Vui lòng thử lại</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-block" type="button">Thử lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back To Top Button-->
<a class="scroll-to-top-btn " href="# ">
    <i class="icon-arrow-up "></i>
</a>
<!-- Backdrop-->
<div class="site-backdrop "></div>
@*Chưa login*@ 
<div class="modal fade" id="modal-no-login" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular red-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="cross red-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-502.652,-204.518)">
                                    <path class="first-line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                </g>
                                <g transform="matrix(-1.28587e-16,-0.79961,0.79961,-1.28587e-16,-204.752,543.031)">
                                    <path class="second-line" d="M634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Bạn chưa đăng nhập.</p>
                        <p>Vui lòng đăng nhập để đặt hàng.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal" ng-click="GoToLogin()">Đến trang đăng nhập</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-block" type="button" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

