﻿<div class="offcanvas-container" id="mobile-menu">
    <a class="account-link" href="#">
        <div class="user-ava">
            <img src="~/Content/img/user-ava-sm.png" alt="Jinzfood">
        </div>
        <div class="user-info">
            <h6 class="user-name">Jinzfood</h6>
        </div>
    </a>
    <nav class="offcanvas-menu">
        <ul class="menu">
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/location.png">
                        <span>Chi nhánh</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">TP.HCM</a>
                    </li>
                    <li>
                        <a href="#">Hà Nội</a>
                    </li>
                    <li>
                        <a href="#">Đà nẵng</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/cart.png">
                        <span>Giỏ hàng</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">ABC</a>
                    </li>
                    <li>
                        <a href="#">ABC</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/receipt.png">
                        <span>Hoá đơn</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/care.png">
                        <span>Customer care</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/orders.png">
                        <span>Quy trình đặt hàng</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/payments.png">
                        <span>Phương thức thanh toán</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/help.png">
                        <span>Need help?</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="~/Content/img/qa.png">
                        <span>Q&A</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="topbar"></div>
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar fixed-top">
    <div class="site-branding">
        <div class="inner">
            <!-- Off-Canvas Toggle (#mobile-menu)-->
            <button class="offcanvas-toggle menu-toggle" data-menu="#mobile-menu" data-toggle="offcanvas">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Site Logo-->
            <a class="site-logo" href="#">
                <img src="~/Content/img/logo/food-picky-logo.png" alt="Jinzfood">
            </a>
        </div>
    </div>
    <!-- Main Navigation-->
    <nav class="site-menu">
        <ul>
            <li class="pr-2">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        TP.HCM
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Ha Noi</a>
                        <a class="dropdown-item" href="#">Da Nang</a>
                        <a class="dropdown-item" href="#">Can Tho</a>
                    </div>
                </div>
            </li>
            <li class="pr-5" ng-controller="SearchProductController">
                <form class="site-search" ng-submit="SearchProduct()">
                    <input id="searchValue" type="text" name="site_search" ng-model="searchValue" placeholder="Tên sản phẩm, kem, thức uống...">
                    <div class="icon-search" ng-click="SearchProduct()">
                        <i class="icon-magnifier icons"></i>
                    </div>
                </form>
            </li>
            <li class="active pr-3">
                <a href="/">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <span>Liên hệ</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Toolbar-->
    <div class="toolbar">
        <div class="inner">
            <div class="tools">
                <div class="cart" ng-controller="HomeController">
                    <a href="#"></a>
                    <span class="text-label d-none d-md-block">Giỏ hàng</span>
                    <i class="icon-handbag icons"></i>
                    <span class="count badge badge-pill badge-danger" id="cart-qty" ng-bind-html="order.totalQuantity"></span>
                    <div class="toolbar-dropdown p-0">
                        <div class="dropdown-product-item px-2" ng-repeat="(index, item) in order.items">
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="#">{{item.productTitle}}</a>
                            </div>
                            <span class="dropdown-product-qty">
                                <i class="icon-minus icons text-secondary" ng-click="RemoveItem(item, i)"></i>
                                <span class="text-dark px-1">{{item.quantity}}</span>
                                <i class="icon-plus icons text-danger" ng-click="AddItem(item, i)"></i>
                            </span>
                            <span class="dropdown-product-price text-right">
                                {{item.unitPrice | number}}đ
                            </span>
                        </div>
                        <div class="toolbar-dropdown-group px-2">
                            <div class="row">
                                <div class="col-6">
                                    Tạm tính
                                </div>
                                <div class="col-6 text-right font-weight-bold">
                                    {{order.totalPrice | number}}đ
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Phi vận chuyển
                                </div>
                                <div class="col-6 text-right font-weight-bold">
                                    {{order.orderPriceShip | number}}đ
                                </div>
                            </div>
                        </div>
                        <div class="toolbar-dropdown-group p-0">
                            <a class="btn btn-block btn-lg btn-danger text-lg m-0" href="#" data-toggle="modal" data-target="#modal-booking">Đặt món</a>
                        </div>
                    </div>
                </div>
                <div class="login m-0 pr-0 d-none d-lg-block" ng-controller="HomeController">
                    <a href="/login"></a>
                    <span class="btn login-btn" ng-if="!session"><a href="/login">Đăng nhập</a></span>
                    @*<span class="btn login-btn" ng-if="session"><a href="#">Profile</a></span>*@

                        <div class="p-0" ng-if="session">
                            <img src="~/Content/img/user-ava-sm.png" alt="User" class="w-25 rounded-circle border border-primary">
                            <span class="text-bold">
                                {{session.userName}}
                                <i class="pl-1 icons icon-arrow-down text-xs"></i>
                            </span>
                        </div>
                        <ul class="toolbar-dropdown" style="width: 270px;" ng-if="session">
                            <li class="sub-menu-user">
                                <div class="user-ava">
                                    <img src="~/Content/img/user-ava-sm.png" alt="User">
                                </div>
                                <div class="user-info">
                                    <h6 class="user-name">{{session.userName}}</h6>
                                </div>
                            </li>
                            <li class="sub-menu-separator"></li>
                            <li>
                                <a href="/orderhistory">
                                    <i class="icons icon-event"></i> Lịch sử đặt món
                                </a>
                            </li>
                            <li class="sub-menu-separator"></li>
                            <li>
                                <a href="/accountinfo">
                                    <i class="icons icon-user"></i> Cập nhật tài khoản
                                </a>
                            </li>
                            <li class="sub-menu-separator"></li>
                            <li>
                                <a ng-click="Logout()">
                                    <i class="icons icon-power"></i>Thoát
                                </a>
                            </li>
                        </ul>
                        @*<ul class="toolbar-dropdown" style="width: 270px;" ng-if="!session">
                <li>
                    <p style="padding-left: 20px; color: green;">Bạn chưa đăng nhập</p>
                    <a href="/login">
                        <i class="icons icon-event"></i>Đến trang đăng nhập
                    </a>
                </li>
            </ul>*@
                    </div>
                </div>
        </div>
    </div>
</header>
