﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <meta name="keywords" content="@ViewBag.Keywords">
    <link rel="canonical" href="@ViewBag.CanonicalURL" />
    <title>@ViewBag.Title | Jinzfood.com</title>
    <!--SEO URL FACEBOOK, GOOGLE PLUS-->
    <meta property="og:type" content="@ViewBag.OgType" />
    <meta property="og:url" content="@ViewBag.OgUrl" />
    <meta property="og:title" content="@ViewBag.OgTitle" />
    <meta property="og:description" content="@ViewBag.OgDescription" />
    <meta property="og:image:url" content="@ViewBag.OgImageUrl" />
    <meta property="og:image:width" content="@ViewBag.OgImageWidth" />
    <meta property="og:image:height" content="@ViewBag.OgImageHeight" />
    <base href="" />

    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/Content/jquery-migrate-3.0.0.min.js"></script>



    <script src="~/FO/angular/angular.js"></script>
    <script src="~/FO/angular/angular-sanitize.min.js"></script>
    <script src="~/FO/angular/angular-locale_vi-vn.js"></script>
    <script src="~/FO/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="/FO/angular/ui-bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/FO/angular/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/FO/angular/rzslider/rzslider.min.js"></script>
    <link href="~/FO/angular/rzslider/rzslider.min.css" rel="stylesheet" />
    <script src="~/FO/angular/angular-selectize/angular-selectize.js"></script>
    <script src="~/FO/angular/ng-sticky/angular-sticky.min.js"></script>
    <script src="~/Content/library/toastr/toastr.min.js"></script>
    <script src="~/Content/js/angular-route.js"></script>
    <script src="~/FO/js/common.js"></script>
    <script src="~/FO/frontend/app.js"></script>
    <script src="~/FO/frontend/services/message.serv.js"></script>
    <script src="~/FO/frontend/services/message.serv.js"></script>
    <script src="~/FO/frontend/services/api.serv.js"></script>
    <script src="~/FO/frontend/services/format.serv.js"></script>
    <script src="~/FO/frontend/filters/fo.filter.js"></script>
    <script src="~/FO/angular/loading-bar/loading-bar.js"></script>
    <link href="~/FO/angular/loading-bar/loading-bar.css" rel="stylesheet" />

    <script src="~/FO/js/ngStorage.min.js"></script>
    <script src="~/FO/js/moment.min.js"></script>
    <script src="~/FO/frontend/directives/smallLoader.directive.js"></script>
    <script src="~/FO/frontend/directives/focusMe.directive.js"></script>
    <link href="~/Content/css/vendor.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.min.css" rel="stylesheet" />
    <script src="~/Content/js/modernizr.min.js"></script>

    <script src="~/FO/frontend/controller/HomeController.js"></script>
    <script src="~/FO/frontend/controller/ContactController.js"></script>
    <script src="~/FO/frontend/controller/SearchProductController.js"></script>
    <script src="~/FO/frontend/controller/RegisterController.js"></script>
    <script src="~/FO/frontend/controller/LoginController.js"></script>
    <script src="~/FO/frontend/controller/OrderHistoryController.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSbfHz5Z15xILezHEkCGJzQZuJHE7LMpc&amp;language=vi&amp;libraries=placeses,visualization,drawing,geometry,places&amp;region=vn" type="text/javascript"></script>*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaS4yeVFS7NvC7QAG31UkqaKoXwuBdB-k"
            type="text/javascript"></script>
    @*<script src="https://maps.google.com/maps/api/js"></script>*@
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>

</head>
<body ng-app="myapp" class="account-pages">

    @RenderBody()
   


</body>
</html>
