﻿
    <aside class="user-info-wrapper border-light rounded-top py-2 bg-danger">
        <div class="user-info">
            <div class="user-avatar">
                <img src="~/Content/img/user-ava-sm.png" alt="User" class="w-45 rounded-circle border">
            </div>
            <div class="user-data text-bold text-light">
                Thuy Trang
            </div>
        </div>
    </aside>
    <nav class="list-groups" id="account-nav">
        <div class="list-group">
            <a class="list-group-item has-children text-bold" href="#" data-toggle="collapse" data-target="#collapseOne">
                <i class="icons icon-user"></i>Cập nhật tài khoản
            </a>
            <ul class="children collapse show border pl-5 m-0" id="collapseOne" data-parent="#account-nav">
                <li>
                    <a href="/accountinfo" class="active">
                        <i class="icons icon-note"></i> Thông tin cơ bản
                    </a>
                </li>
                <li>
                    <a href="/changepassword">
                        <i class="icons icon-key"></i> Đổi mật khẩu
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icons icon-picture"></i> Cập nhật hình đại diện
                    </a>
                </li>
                @*<li>
                    <a href="/addressmanagement">
                        <i class="icons icon-map"></i> Quản lý địa chỉ
                    </a>
                </li>*@
                <li>
                    <a href="/logout">
                        <i class="icons icon-power"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
        <div class="list-group">
            <a class="list-group-item has-children collapsed text-bold" href="#" data-toggle="collapse" data-target="#collapseTwo">
                <i class="icons icon-handbag"></i>Thông tin đặt hàng
            </a>
            <ul class="children collapse border pl-5 m-0" id="collapseTwo" data-parent="#account-nav">
                @*<li>
                    <a href="account-address2.html">
                        <i class="icons icon-location-pin"></i> Cập nhật sổ địa chỉ
                    </a>
                </li>*@
                <li>
                    <a href="/UpdateVATInfo">
                        <i class="icons icon-event"></i> Cập nhật hóa đơn VAT
                    </a>
                </li>
            </ul>
        </div>
    </nav>
