﻿/*THANH LOADING - DINH NGHIA LAI MAU*/
#loading-bar .bar {
  background-color: #8A8A8A; }

#loading-bar-spinner .spinner-icon {
  border-top-color: #8A8A8A;
  border-left-color: #8A8A8A; }

.panel-main {
  border-color: #0B9444; }

.panel-main > .panel-heading {
  color: #FFF;
  background-color: #0B9444;
  border-color: #0B9444;
  font-size: 16px; }

.panel-main > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #0B9444; }

.panel-main > .panel-heading .badge {
  color: #FFF;
  background-color: #FFF; }

.panel-main > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #0B9444; }

.panel, .btn, .form-control, .main-box, input, select, textarea,
.panel-heading, .list-group-item:first-child, .list-group-item:last-child, .form-control {
  border-radius: 0 !important; }

.form-control:focus {
  border-color: #8FBC8F;
  outline: 0;
  -webkit-box-shadow: 0 0 8px rgba(143, 188, 143, 0.6);
  box-shadow: 0 0 8px rgba(143, 188, 143, 0.6); }

.form-auth a {
  color: #ef5222; }

.form-auth a:hover {
  color: green;
  text-decoration: none; }

.input-group-addon {
  border-radius: 0 !important; }

.text-orange {
  color: #F64A02; }

.text-darkgreen {
  color: darkgreen; }

