﻿@{
    ViewBag.Title = "Home Page";
}


<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper" ng-controller="HomeController">
    <section class="section-location">
        <div class="text-center">
            <i class="font-weight-bold icon-location-pin icons"></i>
            <span class="d-none d-md-block">Bạn đang xem sản phẩm tại:</span>
            <a href="#" data-toggle="modal" data-target="#modal-choose-location">
                <span class="font-weight-bold location-name" ng-bind-html="locationDefault"></span>
            </a>
        </div>
    </section>
    <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: true, &quot;loop&quot;: true;&quot;autoplay&quot;: true;}">
        <img src="~/Content/img/sliders/slider1.jpg" alt="Image">
        <img src="~/Content/img/sliders/slider2.jpg" alt="Image">
        <img src="~/Content/img/sliders/slider3.jpg" alt="Image">
    </div>
    <div class="container-fluid py-3 bg-white container-products">
        <h3 class="text-center mb-30 main-heading">
            <img src="~/Content/img/top.png">Sản phẩm bán chạy nhất
        </h3>
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-6"
                         ng-repeat="(index, productProgram) in filteredModel = productPrograms | limitTo: paging.itemsPerPage : (paging.current - 1) * paging.itemsPerPage">
                        <div class="product-card">
                            <div class="rating-stars">
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                            </div>
                            <a class="product-thumb" href="#">
                                <img ng-src="{{baseImageUrl+productProgram.imageUrl}}" alt="Product">
                            </a>
                            <h3 class="product-title pl-1">
                                <a href="#">{{productProgram.dishName}}</a>
                                <span class="product-card-like-btn">
                                    <i class="icon-heart icons"></i>&nbsp; {{productProgram.productSaleTotal}}
                                </span>
                            </h3>
                            <h4 class="product-price pl-1">
                                {{productProgram.unitPrice | number}}đ
                                <span ng-click="AddProduct(productProgram)"><i class="icon-plus icons text-danger"></i></span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12 text-center">
                <nav class="pagination">
                    <div class="column">
                        <ul class="pages" uib-pagination total-items="filteredModel.length" items-per-page="paging.itemsPerPage"
                            ng-model="paging.current" max-size="ctrl.paging.maxSize"
                            boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
                            next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4 my-4 bg-white container-star-products">
        <h3 class="text-center mb-3 main-heading">
            <img src="~/Content/img/star.png">Sản Phẩm Nổi Bật
        </h3>
        <div class="row">
            @*tab1*@
            <div class="product slide owl-carousel" ng-init="tab='tab1'" ng-show="tab=='tab1'">
                <!-- Product-->
                <div class="grid-item" ng-repeat="item in hotProductTab1" >
                    <div class="product-card ">
                        @*<div class="product-badge text-danger ">1</div>*@
                        <a class="product-thumb " href="# ">
                            <img ng-src="{{baseImageUrl+item.imageUrl}}" alt="Product">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="#">{{item.dishName}}</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons"></i>&nbsp; {{item.productSaleTotal}}
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            {{item.unitPrice | number}}đ
                            <span ng-click="AddProduct(item)"><i class="icon-plus icons text-danger"></i></span>
                        </h4>
                    </div>
                </div>
            </div>
            @*tab2*@
            <div class="product slide owl-carousel" ng-show="tab=='tab2'">
                <!-- Product-->
                <div class="grid-item" ng-repeat="item in hotProductTab2">
                    <div class="product-card ">
                        @*<div class="product-badge text-danger ">1</div>*@
                        <a class="product-thumb " href="# ">
                            <img ng-src="{{baseImageUrl+item.imageUrl}}" alt="Product">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="#">{{item.dishName}}</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons"></i>&nbsp; {{item.productSaleTotal}}
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            {{item.unitPrice | number}}đ
                            <span ng-click="AddProduct(item)"><i class="icon-plus icons text-danger"></i></span>
                        </h4>
                    </div>
                </div>
            </div>
            @*tab3*@
            <div class="product slide owl-carousel" ng-show="tab=='tab3'">
                <!-- Product-->
                <div class="grid-item" ng-repeat="item in hotProductTab3">
                    <div class="product-card ">
                        @*<div class="product-badge text-danger ">1</div>*@
                        <a class="product-thumb " href="# ">
                            <img ng-src="{{baseImageUrl+item.imageUrl}}" alt="Product">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="#">{{item.dishName}}</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons"></i>&nbsp; {{item.productSaleTotal}}
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            {{item.unitPrice | number}}đ
                            <span ng-click="AddProduct(item)"><i class="icon-plus icons text-danger"></i></span>
                        </h4>
                    </div>
                </div>
            </div>
            @*tab4*@
            <div class="product slide owl-carousel" ng-show="tab=='tab4'">
                <!-- Product-->
                <div class="grid-item" ng-repeat="item in hotProductTab4">
                    <div class="product-card ">
                        @*<div class="product-badge text-danger ">1</div>*@
                        <a class="product-thumb " href="# ">
                            <img ng-src="{{baseImageUrl+item.imageUrl}}" alt="Product">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="#">{{item.dishName}}</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons"></i>&nbsp; {{item.productSaleTotal}}
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            {{item.unitPrice | number}}đ
                            <span ng-click="AddProduct(item)"><i class="icon-plus icons text-danger"></i></span>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row pt-4" style="margin: 0 auto;">
                <div class="col-lg-12 text-center star-links">
                    
                    <a href="#" ng-init="tab='tab1'" ng-class="{active: tab=='tab1'?true:false}" style="margin-right: 1rem" ng-click="tab='tab1'">
                        KEM THÁI LAN
                    </a>
                    <a href="#" ng-click="tab='tab2'" ng-class="{active: tab=='tab2'?true:false}" style="margin-right: 1rem" class="mx-5">
                        CLEDOR
                    </a>
                    <a href="#" ng-click="tab='tab3'" ng-class="{active: tab=='tab3'?true:false}" style="margin-right: 1rem">
                        ACAFELA CAFE
                    </a>
                    <a href="#" ng-click="tab='tab4'" ng-class="{active: tab=='tab4'?true:false}" style="margin-right: 1rem">
                        DOKHO
                    </a>
                </div>
            </div>
            @*<div class="row pt-4" style="margin: 0 auto;">
                <div class="col-lg-12 text-center star-links">

                    <a href="#" ng-init="tab='tab1'" ng-class="{active: group.id==selectedGroup?true:false}" style="margin-right: 1rem"
                       ng-repeat="(index, group) in groupProductFeatures" ng-click="ChangeGroupProduct(group)">
                        {{group.groupTitle}}
                    </a>
                </div>
            </div>*@
        </div>
    </div>

    <div class=" container-fluid py-4 my-4 bg-white container-order-recently">
        <h3 class="text-center mb-30 main-heading ">
            <img src="~/Content/img/stopwatch.png ">Vừa được đặt
        </h3>
        <div class="row">
            <div class="product slide owl-carousel">
                <!-- Product-->
                <div class="grid-item" ng-repeat="item in productOrderNow">
                    <div class="product-card ">
                        @*<div class="product-badge text-danger ">1</div>*@
                        <a class="product-thumb " href="# ">
                            <img ng-src="{{baseImageUrl+item.imageUrl}}" alt="Product">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="#">{{item.dishName}}</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons"></i>&nbsp; {{item.productSaleTotal}}
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            {{item.unitPrice | number}}đ
                            <span ng-click="AddProduct(item)"><i class="icon-plus icons text-danger"></i></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="container-fluid pt-4 mt-4 container-brands">
        <h3 class="text-center mb-30 main-heading">
            <img src="~/Content/img/hands.png">Đối tác & khách hàng
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:6}} }">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/01.png" alt="Adidas">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/02.png" alt="Brooks">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/03.png" alt="Valentino">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/04.png" alt="Nike">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/05.png" alt="Puma">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/06.png" alt="New Balance">
                    <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/07.png" alt="Dior">
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid pt-4 mt-4 container-app ">
        <div class="row ">
            <div class="col-md-5 "></div>
            <div class="col-md-7 content ">
                <h3>Jinz Food App</h3>
                <p class="font-weight-bold pb-4 ">Tải ngay App để đặt hàng nhanh chóng, quản lý đơn hàng thuận tiện và nhiều tin tức hữu ích khác.</p>
                <p>
                    <a class="market-button apple-button mb-light-skin " href="# ">
                        <span class="mb-subtitle ">Download on the</span>
                        <span class="mb-title ">App Store</span>
                    </a>
                    <a class="market-button google-button mb-light-skin " href="# ">
                        <span class="mb-subtitle ">Download on the</span>
                        <span class="mb-title ">Google Play</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
