﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="offcanvas-container" id="mobile-menu">
    <a class="account-link" href="#">
        <div class="user-ava">
            <img src="img/user-ava-sm.png" alt="Jinzfood">
        </div>
        <div class="user-info">
            <h6 class="user-name">Jinzfood</h6>
        </div>
    </a>
    <nav class="offcanvas-menu">
        <ul class="menu">
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/location.png">
                        <span>Chi nhánh</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">TP.HCM</a>
                    </li>
                    <li>
                        <a href="#">Hà Nội</a>
                    </li>
                    <li>
                        <a href="#">Đà nẵng</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/cart.png">
                        <span>Giỏ hàng</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">ABC</a>
                    </li>
                    <li>
                        <a href="#">ABC</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/receipt.png">
                        <span>Hoá đơn</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/care.png">
                        <span>Customer care</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/orders.png">
                        <span>Quy trình đặt hàng</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/payments.png">
                        <span>Phương thức thanh toán</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/help.png">
                        <span>Need help?</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span>
                    <a href="#">
                        <img class="pr-2" src="img/qa.png">
                        <span>Q&A</span>
                    </a>
                    <i class="icon-arrow-right icons"></i>
                </span>
                <ul class="offcanvas-submenu">
                    <li class="back-btn">
                        <a href="#">
                            <i class="icon-arrow-left icons"></i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="topbar"></div>
<header class="navbar fixed-top d-block d-lg-none">
    <div class="site-branding">
        <div class="inner">
            <!-- Off-Canvas Toggle (#mobile-menu)-->
            <button class="offcanvas-toggle menu-toggle" data-menu="#mobile-menu" data-toggle="offcanvas">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Site Logo-->
            <a class="site-logo" href="#">
                <img src="img/logo/food-picky-logo.png" alt="Jinzfood">
            </a>
        </div>
    </div>
    <!-- Main Navigation-->
    <nav class="site-menu">
        <ul>
            <li class="pr-2">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        TP.HCM
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Ha Noi</a>
                        <a class="dropdown-item" href="#">Da Nang</a>
                        <a class="dropdown-item" href="#">Can Tho</a>
                    </div>
                </div>
            </li>
            <li class="pr-5">
                <form class="site-search" method="get">
                    <input type="text" name="site_search" placeholder="Tên sản phẩm, kem, thức uống...">
                    <div class="icon-search">
                        <i class="icon-magnifier icons"></i>
                    </div>
                </form>
            </li>
            <li class="active pr-3">
                <a href="#">
                    <span>Trang chủ</span>
                </a>
            </li>
            <li>
                <a href="lien-he.html">
                    <span>Liên hệ</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Toolbar-->
    <div class="toolbar">
        <div class="inner">
            <div class="tools">
                <div class="cart">
                    <a href="#"></a>
                    <span class="text-label d-none d-md-block">Giỏ hàng</span>
                    <i class="icon-handbag icons"></i>
                    <span class="count badge badge-pill badge-danger" id="cart-qty">5</span>
                    <div class="toolbar-dropdown p-0">
                        <div class="dropdown-product-item px-2">
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="#">Kem Cá Trà Xanh</a>
                            </div>
                            <span class="dropdown-product-qty">
                                <i class="icon-minus icons text-secondary"></i>
                                <span class="text-dark px-1">3</span>
                                <i class="icon-plus icons text-danger"></i>
                            </span>
                            <span class="dropdown-product-price text-right">
                                45.000đ
                            </span>
                        </div>
                        <div class="dropdown-product-item  px-2">
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="#">Kem Cá Trà Xanh</a>
                            </div>
                            <span class="dropdown-product-qty">
                                <i class="icon-minus icons text-secondary"></i>
                                <span class="text-dark px-1">3</span>
                                <i class="icon-plus icons text-danger"></i>
                            </span>
                            <span class="dropdown-product-price text-right">
                                45.000đ
                            </span>
                        </div>
                        <div class="dropdown-product-item  px-2">
                            <div class="dropdown-product-info">
                                <a class="dropdown-product-title" href="#">Kem Cá Trà Xanh</a>
                            </div>
                            <span class="dropdown-product-qty">
                                <i class="icon-minus icons text-secondary"></i>
                                <span class="text-dark px-1">3</span>
                                <i class="icon-plus icons text-danger"></i>
                            </span>
                            <span class="dropdown-product-price text-right">
                                45.000đ
                            </span>
                        </div>
                        <div class="toolbar-dropdown-group px-2">
                            <div class="row">
                                <div class="col-6">
                                    Tạm tính
                                </div>
                                <div class="col-6 text-right font-weight-bold">
                                    225.000đ
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Phi vận chuyển
                                </div>
                                <div class="col-6 text-right font-weight-bold">
                                    225.000đ
                                </div>
                            </div>
                        </div>
                        <div class="toolbar-dropdown-group p-0">
                            <a class="btn btn-block btn-lg btn-danger text-lg m-0" href="#" data-toggle="modal" data-target="#modal-booking">Đặt món</a>
                        </div>
                    </div>
                </div>
                <div class="login m-0 pr-0 d-none d-lg-block">
                    <a href="#"></a>
                    <span class="btn login-btn">Đăng nhập</span>
                    <ul class="toolbar-dropdown">
                        <li class="sub-menu-user">
                            <div class="user-ava">
                                <img src="img/user-ava-sm.png" alt="User">
                            </div>
                            <div class="user-info">
                                <h6 class="user-name">Jinzfood</h6>
                            </div>
                        </li>
                        <li>
                            <a href="#">Tài khoản</a>
                        </li>
                        <li>
                            <a href="#">Đơn hàng</a>
                        </li>
                        <li>
                            <a href="#">Yêu thích</a>
                        </li>
                        <li class="sub-menu-separator"></li>
                        <li>
                            <a href="#">
                                <i class="icon-unlock"></i>Thoát
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="offcanvas-wrapper">
    <div class="body rounded" ng-controller="RegisterController">
        <form class="register-form" method="post" novalidate="novalidate">
            <p class="text-center p-0">
                <img class="logo d-none d-lg-block" src="~/Content/img/logo/logo.png">
            </p>
            <div class="strike my-2">
                <span class="font-weight-bold h5">Đăng ký</span>
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="text" ng-model="account.firstname" autocomplete="off" placeholder="Ten" name="firstname">
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Ho" name="lastname">
            </div>
            <div class="form-group mb-2">
                <select class="form-control" ng-model="account.gioitinh">
                    <option value="" selected>Giới tính</option>
                    <option value="0">Nam</option>
                    <option value="1">Nữ</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="text" ng-model="account.email" placeholder="Email" name="email">
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="text" ng-model="account.phone" placeholder="Số điện thoại" name="phone">
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="text" ng-model="account.address" placeholder="Địa chỉ" name="address">
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="password" ng-model="account.password" autocomplete="off" placeholder="Mật khẩu" name="password">
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="password" ng-model="account.verifypassword" autocomplete="off" placeholder="Nhập lại mật khẩu" name="rpassword">
            </div>
            @*<div class="form-row">
            <div class="form-group col-8 mb-2">
                <input class="form-control placeholder-no-fix" type="text" placeholder="Ma xac nhan" name="captcha">
            </div>
            <div class="form-group col-4 mb-2">
                <img src="./img/captcha.png">
            </div>
        </div>*@
            <div class="form-actions">
                <button type="submit" class="btn btn-danger btn-block rounded py-1" ng-click="CreateAccount(account);"> Đăng ký </button>
            </div>
            <div class="create-account">
                <p>
                    Ban da co tai khoan JinzFood ?&nbsp;
                    <a href="/login" class="font-weight-bold text-dark text-underline"> Đăng nhập </a>
                </p>
            </div>
        </form>
    </div>
</div>
