﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" ng-controller="OrderHistoryController">
    <div class="card-header h6">
        Lịch sử đặt giao hàng
    </div>
    <div class="card-body">
        <form>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Trạng thái</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-transparent border-0">Trạng thái</div>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="filter-option float-left px-3">All</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Completed</a>
                                <a class="dropdown-item" href="#">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Từ ngày</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Từ ngày</div>
                        </div>
                        <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Từ ngày">
                    </div>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Đến ngày</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Đến ngày</div>
                        </div>
                        <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Đến ngày">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-danger mb-2">Tìm kiếm</button>
                </div>
            </div>
        </form>
        <hr class="mt-2 mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0">STT</th>
                    <th scope="col" class="border-top-0">Mã order/Loại</th>
                    <th scope="col" class="border-top-0">Ngày đặt</th>
                    <th scope="col" class="border-top-0">Nơi đặt</th>
                    <th scope="col" class="border-top-0">CSKH/ Giao hàng</th>
                    <th scope="col" class="border-top-0">Tổng tiền</th>
                    <th scope="col" class="border-top-0">Trạng thái</th>
                    <th scope="col" class="border-top-0">Chi tiết</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, item) in orderHistories">
                    <th scope="row">{{index + 1}}</th>
                    <td>
                        <span class="text-bold">{{item.orderNumber}}</span>
                    </td>
                    <td>
                        <p class="text-sm m-0">Đặt món: {{item.orderDate | date: 'dd-MM-yyyy HH:mm:ss'}}</p>
                        <p class="text-sm m-0">Giao hàng: 31/07/2018 09:15</p>
                    </td>
                    <td>
                        <p class="text-bold text-sm m-0 ">JinzFood</p>
                        <p class="text-sm m-0">360D Bến Vân Đồn, Q4</p>
                    </td>
                    <td>
                        <span class="text-bold text-sm">CSKH</span>
                    </td>
                    <td>
                        <p class="text-bold text-sm m-0 ">{{item.orderTotal | number}}đ</p>
                        <p class="text-sm m-0 ">1 món</p>
                        <p class="text-sm m-0 text-success">Tiền mặt</p>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-block btn-sm m-0" ng-if="item.orderStatusId == 0">Chưa giao</button>
                        <button class="btn btn-danger btn-block btn-sm m-0" ng-if="item.orderStatusId == 1">Đã giao</button>
                        @*<button class="btn btn-secondary btn-block btn-sm m-0 mt-1">Re-Order</button>*@
                    </td>
                    <td>
                        @*<p class="m-0 ">
                            <a href="#" class="text-blue">Lý do hủy đơn hàng</a>
                        </p>*@
                        <p class="m-0 ">
                            @*<a href="#" class="text-blue" ng-click="ViewDetailOrder(item.id)">Xem chi tiết</a>*@
                            <a href="#" class="text-blue" ng-click="ViewDetailOrder(item.id)">Xem chi tiết</a>
                            <a id="open-modal-order-history" href="#" data-toggle="modal" data-target="#modal-order-history" hidden></a>
                        </p>
                        @*<p class="m-0 ">
                            <a href="#" class="text-blue">Lịch sử chat</a>
                        </p>*@
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-order-history" tabindex="-1" role="dialog" ng-controller="OrderHistoryController">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-header text-center bg-danger py-2">
                <h6 class="modal-title text-white">Chi Tiết Đơn Hàng Cần Thanh Toán</h6>
                <button class="x-icon" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <div class="flex-fill">
                        Đặt món tại:
                        <span class="text-bold">Jinzfood - 360D Bến Vân Đồn, Q4</span>
                    </div>
                    <div class="text-danger text-bold">
                        Tổng tiền: {{orderTotal | number}}đ
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-top-0">Thành viên</th>
                                    <th scope="col" class="border-top-0">Món ăn</th>
                                    <th scope="col" class="border-top-0">Số lượng</th>
                                    <th scope="col" class="border-top-0">Giá</th>
                                    <th scope="col" class="border-top-0">Giảm giá</th>
                                    <th scope="col" class="border-top-0">Tổng cộng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index, item) in orderDetails">
                                    <th scope="row" class="p-1">
                                        <img src="~/Content/img/user-ava-sm.png" alt="User" class="w-35 rounded-circle border border-primary">
                                        <span class="">{{session.firstName}}</span>
                                    </th>
                                    <td>{{item.dishName}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.unitPrice | number}}đ</td>
                                    <td>{{item.promoPrice?item.promoPrice:0}}đ</td>
                                    <td>{{item.total | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="text-center m-0">
                    <button class="btn btn-danger px-4" data-dismiss="modal">Đóng</button>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="DetailsOrder.html">
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content jinz-shadow">
                <div class="modal-header text-center bg-danger py-2">
                    <h6 class="modal-title text-white">Chi Tiết Đơn Hàng Cần Thanh Toán</h6>
                    <button class="x-icon" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="flex-fill">
                            Đặt món tại:
                            <span class="text-bold">Jinzfood - 360D Bến Vân Đồn, Q4</span>
                        </div>
                        <div class="text-danger text-bold">
                            Tổng tiền: {{orderTotal | number}}đ
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-top-0">Thành viên</th>
                                        <th scope="col" class="border-top-0">Món ăn</th>
                                        <th scope="col" class="border-top-0">Số lượng</th>
                                        <th scope="col" class="border-top-0">Giá</th>
                                        <th scope="col" class="border-top-0">Giảm giá</th>
                                        <th scope="col" class="border-top-0">Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index, item) in orderDetails">
                                        <th scope="row" class="p-1">
                                            <img src="/Content/img/user-ava-sm.png" alt="User" class="w-35 rounded-circle border border-primary">
                                            <span class="">{{session.firstName}}</span>
                                        </th>
                                        <td>{{item.dishName}}</td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.unitPrice | number}}đ</td>
                                        <td>{{item.promoPrice?item.promoPrice:0}}đ</td>
                                        <td>{{item.total | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p class="text-center m-0">
                        <button class="btn btn-danger px-4" data-dismiss="modal">Đóng</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</script>
