
/* latin */
@font-face {
  font-family: 'UTM Banque';
  font-style: normal;
  font-weight: normal;
  src: url(UTM-BanqueR.ttf) format('truetype');
}
@font-face {
    font-family: 'UTM Banque';
    font-style: normal;
    font-weight: bold;
    src: url(UTM-BanqueB.ttf) format('truetype');
}