/*Helvetica*/
@font-face {
    font-family: 'Helvetica';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Helvetica.ttf');
}
@font-face {
    font-family: 'Helvetica';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Helvetica-Bold.ttf');
}
@font-face {
    font-family: 'Helvetica';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Helvetica-Light.ttf');
}
@font-face {
    font-family: 'Helvetica';
    font-weight: normal;
    font-style: oblique;
    src: url('../fonts/Helvetica-Oblique.ttf');
}
@font-face {
    font-family: 'Helvetica';
    font-weight: bold;
    font-style: oblique;
    src: url('../fonts/Helvetica-BoldOblique.ttf');
}
@font-face {
    font-family: 'Helvetica';
    font-weight: 300;
    font-style: oblique;
    src: url('../fonts/Helvetica-LightOblique.ttf');
}
/*HelveticaNeue*/
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/helveticaneue_0.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/helveticaneuemedium_0.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/helveticaneuebold_0.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/helveticaneue300_0.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/helveticaneueitalic_0.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/helveticaneuebolditalic_0.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/helveticaneue300italic_0.ttf');
}
/*Roboto*/
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Regular_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Roboto-Medium_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Roboto-Bold_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Roboto-Light_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Roboto-Thin_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Roboto-Black_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/Roboto-Italic_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Roboto-MediumItalic_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/Roboto-BoldItalic_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Roboto-LightItalic_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 200;
    font-style: italic;
    src: url('../fonts/Roboto-ThinItalic_0.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/Roboto-BlackItalic_0.ttf');
}
/*RobotoCondensed*/
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Condensed.ttf');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Roboto-BoldCondensed.ttf');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/Roboto-CondensedItalic.ttf');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf');
}
@font-face {
    font-family: 'RobotoCondensed';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/RobotoCondensed-LightItalic.ttf');
}
/*MyriadPro*/
@font-face {
    font-family: 'MyriadPro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'MyriadPro';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face {
    font-family: 'MyriadPro';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/MyriadPro-Bold.otf');
}
@font-face {
    font-family: 'MyriadPro';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/MyriadPro-It.otf');
}
@font-face {
    font-family: 'MyriadPro';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/MyriadPro-SemiboldIt.otf');
}
@font-face {
    font-family: 'MyriadPro';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/MyriadPro-BoldIt.otf');
}
/*MyriadProCondensed*/
@font-face {
    font-family: 'MyriadProCondensed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MyriadPro-Cond.otf');
}
@font-face {
    font-family: 'MyriadProCondensed';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/MyriadPro-BoldCond.otf');
}
@font-face {
    font-family: 'MyriadProCondensed';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/MyriadPro-CondIt.otf');
}
@font-face {
    font-family: 'MyriadProCondensed';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/MyriadPro-BoldCondIt.otf');
}