﻿*{
    /*font-family: 'Helvetica';*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/**topHead**/
body{
    min-width: 1170px !important;
}
.container, .container-fluid{
    min-width: 1170px !important;
}
.topHead{
    font-family: 'MyriadPro';
    font-weight: normal;
    background-color: #1BA0E2;
    padding-top: 5px;
    padding-bottom: 5px;

}
.topHeadSlogan{
    font-weight: normal;
    font-style: italic;
    color: #fff;
    transition: all 500ms ease;
}
.topHeadSlogan:hover{
    text-decoration: none;
    color: #e0e0e0;
}
.topHeadViewCart{
    color: #fff;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
    transition: all 500ms ease;
}
.topHeadViewCart:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}
.topHeadViewCart img{
    height: 1em;
    display: inline;
    vertical-align: central;
    margin-right: 5px;
    line-height: 1em;
    margin-top: -3px;
}
.topHeadHelp{
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    line-height: 1em;
    transition: all 300ms;
}
.topHeadHelp:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}
.topHeadHelp img{
    height: 1em;
    display: inline;
    vertical-align: central;
    margin-right: 5px;
    margin-top: -3px;
}
/*head*/
.head{
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
#head.sticky{
    position: fixed;
    top: 0px;
    background-color: #fff;
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 9999;
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
}
#headPlaceHolder{
    width: 100%;
    position: relative;
    background-color: #fff;
    display: none;
}
#headPlaceHolder.show{
    display: block;
}
.headLogo{
    width: 160px;
}
#head.sticky .headLogo{
    width: auto;
    height: 4em;
}

.headNav {
    font-family: 'Segoe UI', 'MyriadPro', Arial, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}
#head.sticky .headNav{
    padding-top: 0px;
    font-size: 1.4em;
}
.headNav li a{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    color: #0099DD;
}
.headNav li a:before{
    content: "";
    width: 0px;
    height: 2px;
    background-color: #0F91D2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 500ms ease;
}
.headNav li a:hover{
    background: none;
    text-decoration: none;
    color: #0F91D2;
}
.headNav li a:hover::before{
    width: 100%;
}

/*Head Contact*/
.headContactContainer{
    text-align: right;
    margin-top: 10px;
}
#head.sticky .headContactContainer{
    margin-top: 10px;
}
.headContact{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    text-align: left;
    padding-right: 3em;
}
.headContact:not(:first-child){
    margin-left: 20px;
}
.headContact:after{
    content: '';
    display: block;
    clear: both;
}
.headContact a{
    text-decoration: none;
    color: #666666;
    font-family: 'MyriadPro';
    font-weight: 400;
}
.headContact a:hover{
    color: #666666;
}
.headContactIcon{
    float: left;
    display: block;
    width: 3em;
    height: 3em;
    background-color: #BA0403;
    border-radius: 1.5em;
    margin-right: 10px;
    margin-top: -4px;
    white-space: normal;
    position: relative;
}

.headContactIcon.icon1{
    background-image: url('../img/3.png');
    background-position: center center;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-color: #BA0403;
}
.headContactIcon.icon1:before{
    content: '';
    position: absolute;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    top: -0.2em;
    left: -0.2em;
    background-color: rgba(186,4,3,0.2);
    z-index: -1;
    transition: all 500ms ease;
    opacity: 1;
}
.headContactIcon.icon2{
    background-image: url('../img/4.png');
    background-position: center center;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-color: #0F91D2;
}
.headContactIcon.icon2:before{
    content: '';
    position: absolute;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    top: -0.2em;
    left: -0.2em;
    background-color: rgba(15,145,210,0.2);
    z-index: -1;
    transition: all 500ms ease;
    opacity: 1;
}
.headContact:hover .headContactIcon:before{
    transform: scale(1.5,1.5);
    opacity: 0;
}
/*home slider*/
.homeSlider{
    overflow: hidden;
    position: relative;
}
.homeSlider .carousel{
    border: none;
    top: 0px;
    left: 0px;
    height: 50vh;
    overflow: hidden;
    margin-bottom: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.homeSlider .carousel-inner{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.homeSlider .carousel-inner .item{
    text-align: center;
}
.homeSlider .carousel-inner .item.active{
    margin: 0px;
    padding: 0px;
}
.homeSlider .carousel-inner .item img{
    height:100%;
}
.homeSlider .carousel .carousel-indicators{
    bottom: 100px;
}


.homeSlider .carousel-indicators li{
    width: 12px;
    height: 12px;
    background: none;
    box-shadow: none;
    background-color: #666;
    border: 1px solid #fff;
    opacity: 0.6;
    border-radius: 0px;
    transform: rotate(45deg);
    margin: 0px;
    padding: 0px;
}
.homeSlider .carousel-indicators li:not(:first-child){
    margin-left: 5px;
}
.homeSlider .carousel-indicators li.active{
    background-color: #fff;
    border: 1px solid #666;
    opacity: 0.9;
}
.carousel-control{
    opacity: 0.0;
}
.homeSlider:hover .carousel-control{
    opacity: 0.2;
}
    .homeSlider:hover .carousel-control:focus, .homeSlider:hover .carousel-control:hover {
        opacity: 0.4;
    } 
.carousel-control-left, .carousel-control-right {
    width: 36px;
    height: 108px;
    background-image: url(../img/slider-arrow.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -59px;
}
    .carousel-control-left{
        background-position: 0px 0px;
    }
    .carousel-control-right {
        background-position: -38px 0px;
    }
    /*booking form*/
    .bookingFormContainer {
        padding: 0px 50px;
        position: relative;
        
        font-family: 'HelveticaNeue';
    }
.bookingForm {
    /*background-color: rgba(255,255,255,0.5);*/
    background-color: #fff;
    border-radius: 0px;
    /*padding: 6px;*/
    padding: 0px;
    position: relative;
    top: -100px;
    margin-bottom: -70px;
    /*border: 1px solid rgba(255,255,255,0.8);*/
    border: 5px solid #1BA0E2;
}
    .bookingForm.margin-fix {
        top: 0px;
        margin-bottom: 0px;
    }
    #homeBookingForm{
    transition: all 500ms ease;
    /*transform: translateY(3vw);
    opacity: 0.0;*/
    }
    #homeBookingForm:before {
        content: "";
        position: absolute;
        top: -53px;
        left: -5px;
        width: 96px;
        height: 96px;
        background-image: url(../img/booking-form-icon.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        display: none;
    }
    #homeBookingForm.active{
    opacity: 1;
    transform: translateX(0vw);
}
.bookingFormInner{
    width: 100%;
/*    background-color: #0F91D2;*/
    /*background-image: url(../img/form-bg-1.png);*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 3px;
    /*border: 1px solid #e0e0e0;*/
    padding: 5px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
}
/*.bookingFormInner:before{
    content: '';
    position: absolute;
    top: -40px;
    left: 0px;
    width: 64px;
    height: 64px;
    margin: 0px;
    padding: 0px;
    background-image: url(../img/16.png), url(../img/5.png);
    background-repeat:  no-repeat, no-repeat;
    background-size: auto auto, 100% auto;
    background-position: center center, center center;
    z-index: 0;
}*/
.bookingFormHeader {
    text-align: center;
    background-color: #1BA0E2;
    margin-left:-16px;
    margin-right: -16px;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bookingForm.margin-fix .bookingFormHeader {
    margin-top: -5px;
}
    .bookingFormHeader h4 {     
        color: #fff;
        line-height: 1em;
        margin-bottom: 5px;
    }
.bookingFormHeader p{
    font-size: 1em;
    color: #fff;
}
.bookingForm fieldset{
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
    .bookingForm fieldset:before {
        content: "";
        width: 2px;
        height: 232px;
        position: absolute;
        right: -16px;
        top: 0px;
        background-color: #1BA0E2;
    }
    .bookingForm fieldset.no-separator:before{
        display: none;
    }
    .bookingForm fieldset legend {
        font-size: 1.1em;
        font-weight: bold;
        color: #666666;
        border: 0px;
        margin-bottom: 5px;
    }
.bookingForm .form-group{
    margin-bottom: 0px;
}
.bookingForm .form-group label{
    font-weight: normal;
}
.bookingForm .form-group .form-control-container{
    position: relative;
}
.bookingForm .form-group .form-control-container img.form-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 16px;
    font-size: 16px;
    left: 8px;
    top: 8px;
    transition: all 500ms ease;
}
.bookingForm .form-group .form-control-container select{
    width: 100%;
}
.bookingForm .form-group .form-control-container .form-control{
    background: none;
    box-shadow: none;
    border: 1px solid #d0d0d0;
    padding-left: 35px;
    color: #666666;
    border-radius: 0px;
}
/*.bookingForm .form-group .form-control-container .form-control:focus + img.form-icon{
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    left: 2px;
    top: 2px;
}*/
.bookingForm .form-group .form-control-container .form-control-extension{
    height: 24px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.8em;
}
.bookingForm .form-group .form-control-container .form-control-extension .bookingFormSwitchLocation{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 24px;
    background-image: url('../img/19.png');
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    background-position: center center;
    background-repeat: no-repeat;
}
.bookingFormInner input[type=number]{
    padding-right: 5px;
}
.bookingFormSubmit{
    padding-left: 0px;
    padding-top: 20px;
}
.bookingFormSubmit button{
    height: 38px;
    width: 100%;
    background-color: rgba(249,123,12,1);
    color: #fff;
    border: none;
    border-radius: 0px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: normal;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}
    .bookingFormSubmit button #search-icon{
        display: inline-block;
        vertical-align: middle;
        width: 1.2em;
        height: 1.2em;
        background-image: url(../img/search.png);
        background-position: center center;
        background-size: 100% auto;
        margin-right: 10px;
        background-repeat: no-repeat;
        margin-top: -4px;
    }
    .bookingFormSubmit button:after {
        display: none;
        content: '';
        background-color: rgba(249,123,12,1);
        position: absolute;
        z-index: -1;
        left: 5px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        opacity: 0.2;
        transition: all 300ms ease;
        z-index:-1;
    }
    .bookingFormSubmit button:hover {
        background-color: rgba(249,123,12,0);
        opacity: 1.0;
        z-index: 2;
        border: 1px solid rgba(249,123,12,1);
        color: rgba(249,123,12,1);
    }
    .bookingFormSubmit button:hover #search-icon {
        background-image: url(../img/search-hovered.png);
    }
.bookingFormSubmit button:hover::after{
    left: 20px;
    opacity: 0.0;
    z-index: -1;
}
.form-toggle-ctn{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    text-align: right;
}
.bookingForm.no-border{
    border: none;
}
.form-toggle{
    margin: 15px;
    background-color: #0F91D2;
    color: #fff;
    border: 1px solid #0F91D2;
    outline: none;
}
    .form-toggle:active {
        color: #0F91D2;
        background-color: #fff;
    }
/*datepicker*/
.ui-datepicker {
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 3px;
    padding: 5px;
    width: auto !important;
    font-family: 'MyriadPro';
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.1);
}
/*.ui-datepicker:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0,0,0,0.1);
    top: 5px;
    left: 5px;
}*/
.ui-datepicker .ui-datepicker-group{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(255,255,255,1);
    padding: 5px;
    border-radius: 3px;
}
.ui-datepicker-header{
    text-align: center;
}
.ui-datepicker .ui-datepicker-group-last{
    margin-left: 5px;
}
.ui-datepicker-prev, .ui-datepicker-next {
    float: left;
    padding: 6px 6px 3px 6px;
    background-color: rgba(249,123,12,1);
    border-radius: 3px;
    line-height: 1em;
    font-size: 1em;
    color: #0F91D2;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin-bottom: 2px;
}
    .ui-datepicker-prev:hover, .ui-datepicker-next:hover {
        text-decoration: none;
        background-color: rgba(249,123,12,0.8);
        color: #fff;
    }
.ui-datepicker-next{
    float: right;
}
.ui-datepicker-title{
    text-align: center;
    padding-top: 2px;
}
.ui-datepicker-calendar{
    
}
.ui-datepicker-calendar{
    
}
.ui-datepicker-calendar td{
    padding: 2px;
}
.ui-datepicker-calendar thead{
    font-size: 0.8em;
    text-align: center;
}
.ui-datepicker-calendar a{
    padding: 4px 4px 2px 4px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
}
.ui-datepicker-calendar a.ui-state-active{
    background-color: #C4DCEF;
    color: #fff;
}
.ui-state-disabled{
    background-color: #e0e0e0;
    color: #fff;
    cursor: not-allowed;
}
.ui-state-disabled:hover{
    background-color: #e0e0e0;
}
.ui-datepicker-unselectable.ui-state-disabled{
    background: none;
    color: #e0e0e0;
}
/*switch*/
.switch{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}
.switch:not(:first-child){
    margin-left: 5px;
}
.switch input{
    display: none;
}
.switch label:nth-child(2){
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border: 1px solid #e0e0e0;
    background-size:  auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.switch.check input:checked + label:nth-child(2){
    background-image: url('../img/21.png');
}
.switch label:nth-child(3){
    font-size: 1em;
}
/*page header */
.page-header{
    border: none;
    text-align: center;
}
.page-header h3{
}
/*Services*/
.services{
    padding-bottom: 30px;
    overflow: hidden;
    width: 100%;
    font-family: 'HelveticaNeue';
}
.service{
    text-align: center;
    transition: 500ms all ease;
    /*transform: translateX(200px);
    opacity: 0;*/
}
.service2{
    transition-delay: 250ms;
}
.service3{
    transition-delay: 500ms;
}
.service.active{
    transform: translateX(0px);
    opacity: 1;
}
.service h4{
    color: #0F91D2;
    margin-top: 15px;
    font-family: 'HelveticaNeue';
    font-weight: 500;
}
.service h4 strong{
    font-weight: 500;
}
.service img.serviceImage{
    max-width: 100%;
    transition: 500ms all ease;
}
.service:hover img.serviceImage{
    transform: rotateY(360deg);
}
/*subcribe form*/
.onlineAppLink{
    display: block;
    text-align: center;
    width: 100%;
}
.onlineAppLink:not(:first-child){
    margin-top: 30px;
}
.subcribe{
    padding-top: 60px;
    background-color: #f5f5f5;
    padding-bottom: 30px;
}
.subcribeInner{
    padding-left: 50px;
    padding-right: 50px;
}
.subcribeForm{
}
.subcribeForm fieldset{
    text-align: center;
}
.subcribeForm fieldset legend{
    width: 100%;
    padding: 10px;
    background-color: #0F91D2;
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}
    .subcribeForm fieldset .subcribe-email {
        position: relative;
        background-image: url(../img/envelope.png);
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: auto 24px;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #e0e0e0;
    }
    .subcribeForm fieldset input[type=email] {
        width: 100%;
        padding: 10px;
        background: none;
        border: none;
        padding-left: 50px;
    }
    .subcribeForm fieldset button {
        background-color: rgba(249,123,12,1);
        border: none;
        height: 40px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 0px;
        line-height: 40px;
        font-size: 1.2em;
        color: #fff;
        position: relative;
    }
    .subcribeForm button:after {
        content: '';
        background-color: rgba(249,123,12,1);
        position: absolute;
        z-index: -1;
        left: 5px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        opacity: 0.2;
        transition: all 300ms ease;
        display: none;
    }
    .subcribeForm button:hover {
        /*background-color: rgba(249,123,12,0.8);*/
        background-color: #fff;
        color: rgba(249,123,12,1);
        border: 1px solid rgba(249,123,12,1);
        opacity: 1.0;
        z-index: 2;
    }
.subcribeForm button:hover::after{
    left: 20px;
    opacity: 0.0;
    z-index: -1;
}
#subcribeLeft{
    transition: all 500ms ease;
    /*transform: translateX(-100px);
    opacity: 0;*/
}
#subcribeRight{
    transition: all 500ms ease;
    /*transform: translateX(100px);
    opacity: 0;*/
}
#subcribeLeft.active,#subcribeRight.active{
    transform: translateX(0px);
    opacity: 1;
}
/*Flights*/
.flights{
    font-family: 'Roboto';
}
.flights a{
    display: block;
    text-align: left;
    font-family: "Roboto";
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    color: #666666;
}
.flights a:hover{
    text-decoration: none;
    color: #BA0403;
}
.flights a .dot{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    position: relative;
    z-index: 1;
    background-color: #0F91D2;
    border-radius: 5px;
    margin-right: 10px;
}
.flights a .dot:before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: -2px;
    left: -2px;
    background-color: rgba(15,145,210,0.2);
    border-radius: 7px;
    transition: all 500ms ease;
    opacity: 1;
}
.flights a:hover .dot:before{
    transform: scale(1.5);
    opacity: 0;
}
/*Logo carousel*/
.partners{
    
}
.partners h4{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18pt;
}
.logo-carousel{
    height: 64px;
    margin: 0px;
    padding-left: 0px;
}
.logo-carousel li{
    text-align: center;
    margin-right: 15px;
}
.logo-carousel li:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 80px;
}
.logo-carousel li img{
    display: inline-block;
    vertical-align: middle;
    max-height: 64px;
}
/*footer*/
.footer{
    background-color: #1BA0E2;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}
.footer a{
    color: #fff;
}
.footer-logo {
    height: 80px;
}
    .footer-logo img {
        max-height: 100%;
    }
.copyright{
    padding-top: 10px;
}
img.certificate{
    height: 32px;
    margin-left: 10px;
}
/* custome select */
.selectric{
    padding: 6px 12px 6px 28px;
    border-radius: 0px;
    background: none;
}
.selectric .label{
    line-height: 1em;
    margin: 0px;
    height: auto;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
}
.selectric b.button{
    content: " ";
    height: 100%;
    line-height: 1em;
    padding: 6px 6px 6px 6px;
    border-radius: 0px 3px 3px 0px;
}
.selectric-items{
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    border: 1px solid #fff;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.2);
}
.selectric-scroll{
    padding: 5px;
    background-color: #fff;
}
.selectric-scroll ul li{
}
.selectric-scroll ul li.selected.highlighted{
    background-color: #f5f5f5;
}
.selectric-scroll ul li:hover{
    background-color: #f5f5f5;
}
/*sidebar*/
.sidebar{
    position: fixed;
    top: 18vh;
    right: 10px;
    width: auto;
    height: auto;
    z-index: 9999;
}
.sidebar ul{
    margin: 0px;
    padding: 0px;
    display: block;
}
.sidebar ul li{
    display: block;
    margin-top: 10px;
}
.sidebar ul li a{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    display: block;
    opacity: 0.8;
    position: relative;
}
.sidebar ul li a:hover{
    opacity: 1;
}
.sidebar ul li a:before{
    content: attr(data-title);
    position: absolute;
    right: 30px;
    top: 12px;
    width: auto;
    white-space: nowrap;
    padding: 5px 30px 2px 10px;
    background-color: rgba(255,255,255,0.9);
    color: #0F91D2;
    font-size: 1em;
    font-family: 'MyriadPro';
    z-index: -1;
    transition: all 500ms ease;
    transform-origin: center right;
    transform: rotate(-15deg);
    opacity: 0;
    visibility: hidden;
}
.sidebar ul li a:hover::before{
    visibility: visible;
    transform: rotate(0deg);
    opacity: 1;
}
.sidebar ul li a.facebook{
    background-image: url(../img/6.png), url(../img/5.png);
}
.sidebar ul li a.gplus{
    background-image: url(../img/7.png), url(../img/5.png);
}
.sidebar ul li a.messenger{
    background-image: url(../img/8.png), url(../img/5.png);
}
.sidebar ul li a.zalo{
    background-image: url(../img/11.png), url(../img/5.png);
}
.sidebar ul li a.viper{
    background-image: url(../img/13.png), url(../img/5.png);
}
.sidebar ul li a.skype{
    background-image: url(../img/14.png), url(../img/5.png);
}
.sidebar ul li a.totop{
    background-image: url(../img/totop.png), url(../img/5.png);
}
/*Tooltip*/
.tooltip .tooltip-inner{
    background-color: #0F91D2;
    border-radius: 0px;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #0F91D2;
}
/*steps timeline*/
.step-container{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .step-container .step-container-inner {
        position: relative;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 30px;
    }
        .step-container .step-container-inner .step {
            display: inline-block;
            vertical-align: middle;
            margin: 0px;
            width: 25%;
            position: relative;
            height: 36px;
        }
        .step-container .step-container-inner .step a.step-number{
            position: absolute;
            width: 36px;
            height: 36px;
            background-color: #CECECE;
            line-height: 36px;
            border-radius: 18px;
            left: 0px;
            top: 0px;
            font-weight: bold;
            font-size: 14pt;
            color: #fff;
            z-index: 2;
            text-decoration: none;
            text-align: center;
        }
            .step-container .step-container-inner .step a.step-number span {
                position: absolute;
                width: 200px;
                left: -82px;
                color: #666666;
                font-size: 12pt;
                font-weight: normal;
                text-align: center;
                top: 32px;
            }
                .step-container .step-container-inner .step a.step-number:last-child {
                left: auto;
                right: 0px;
            }
        .step-container .step-container-inner .step .step-line{
            position: absolute;
            height: 5px;
            background-color: #CECECE;
            left: 0px;
            width: 100%;
            top: 15px;
            z-index: 1;
        }
            .step-container .step-container-inner .step.passed a.step-number,
            .step-container .step-container-inner .step.passed .step-line{
                background-color: #0F91D2;
            } 
            .step-container .step-container-inner .step.current a.step-number
            {
                background-color: #BA0403;
                text-align: center;
            }
            .step-container .step-container-inner .step.current .step-line:before {
                display: inline-block;
                content: "";
                vertical-align: middle;
                width: 96px;
                height: 20px;
                margin-left: 40px;
                margin-top: -6px;
                background-image: url(../img/3planes.png);
                background-position: center center;
                background-size: auto 100%;
                background-repeat: no-repeat;
            }
            .step-container .step-container-inner .step.passed a.step-number span{
                color: #0F91D2;
            }
            .step-container .step-container-inner .step.current a.step-number span{
                color: #BA0403;
            }
.flight-overview-container{
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 15px;
}
.flight-overview {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 5px 15px;
    color: #666666;
    cursor: pointer;
}
    .flight-overview.selected {
        background-color: #f7f7f7;
        border: 1px solid #0F91D2;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
        z-index: 2;
    }
    .flight-overview h4 {
        font-size: 13pt;
        font-weight: bold;
    }
    .flight-overview h5 {
        font-weight: normal;
        margin-bottom: 3px;
    }
    .flight-overview h6 {
        font-size: 10pt;
        margin-top: 0px;
        padding-top: 0px;
    }
.ChonNgayBayContainer{
    position: relative;
    margin-top: 15px;
    padding-left: 32px;
    padding-right: 32px;
}

.ChonNgayBay{
    list-style: none;
    margin: 0px;
    padding: 0px;

}
    .ChonNgayBay li {
        display: inline-block;
        vertical-align: middle;
        width: 14.28%;
        padding: 10px;
        text-align: center;
        border: 1px solid #e0e0e0;
        cursor: pointer;
    }
        .ChonNgayBay li.selected {
            background-color: #e0e0e0;
        }
        .ChonNgayBay li.disabled {
            color: #e0e0e0;
            cursor: not-allowed;
        }
        .ChonNgayBay li h6 {
            margin-top: 8px;
        }
        .ChonNgayBay li strong {
             color: #BA0403;
        }
.ChonNgayBayContainer a.nav-left, .ChonNgayBayContainer a.nav-right{
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../img/chevrons.png);
    background-position: 0px 0px;
    background-size: auto 80%;
    background-repeat: no-repeat;
    left: -5px;
    top: 50%;
    margin-top: -8px;
}
.ChonNgayBayContainer a.nav-right {
    left: auto;
    right: -5px;
    background-position: -30px 0px;
}
.FlightFilter .FlightFilterHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.FlightFilter .FlightFilterHeader h4 {
    padding: 0px 0px 5px 0px;
    margin: 0px;
    border-bottom: 2px solid #0F91D2;
    font-size: 12pt;
}
    .FlightFilter .FlightFilterHeader button {
        text-align: right;
        width: 105px;
        height: 24px;
        background-color: #fff;
        border: none;
        border-bottom: 2px solid #e0e0e0;
        outline: none;
        padding-left: 0px;
        font-size: 10pt;
        line-height: 20px;
        margin-top: -24px;
        background-image: url(../img/refresh-round-symbol.png);
        background-size: 16px;
        background-position: 5px center;
        background-repeat: no-repeat;
    }
.FlightFilterBody {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.FlightFilterBody table td{
    position: relative;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 25%;
}
    .FlightFilterBody table td:hover {
        background-color: #efefef;
    }
        .FlightFilterBody table td h6 {
        font-size: 10pt;
        font-weight: 600;
        margin: 0px;
        padding: 0px;
        padding-bottom: 5px;
        text-align: center;
    }
    .FlightFilterBody table td span {
        font-size: 10pt;
        font-weight: 600;
        color: #BA0403;
    }
    .FlightFilterBody table td .TooltipForm{
        position: absolute;
        min-width: 200px;
        left: 50%;
        background-color: rgba(255,255,255,1);
        border: 3px solid #e0e0e0;
        top: 32px;
    }
        .FlightFilterBody table td .TooltipForm.from-right {
            left: auto;
            right: 50%;
        }
        .FlightFilterBody table td .TooltipForm:before {
            content: "";
            position: absolute;
            left: -7px;
            top: -7px;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            background-color: #e0e0e0;
        }
        .FlightFilterBody table td .TooltipForm.from-right:before {
            left: auto;
            right: -7px;
        }
            .FlightFilterBody table td .TooltipForm ul {
            font-size: 9pt;
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
            .FlightFilterBody table td .TooltipForm ul li {
                text-align: left;
                color: #666666;
                padding: 5px;
                line-height: 9pt;
            }
                .FlightFilterBody table td .TooltipForm ul li:hover {
                    background-color: #efefef;
                }
                .FlightFilterBody table td .TooltipForm ul li:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #666666;
                    border-radius: 3px;
                    margin-right: 5px;
                    margin-top: -3px;
                }
                .FlightFilterBody table td .TooltipForm ul li.selected {
                    color: #BA0403;
                }
                    .FlightFilterBody table td .TooltipForm ul li.selected:before {
                        background-color: #BA0403;
                        border-color: #BA0403;
                    }
.TooltipForm .rzslider {
    margin: 32px 0px 20px 0;
}
    .TooltipForm .rzslider .rz-pointer{
        width: 16px;
        height: 16px;
        top: -6px;
        outline: none;
        background-color: #0F91D2;
    }
        .TooltipForm .rzslider .rz-pointer:after {
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
    .TooltipForm .rzslider .rz-selection {
        background-color: #0F91D2;
    }
.TooltipForm .TooltipButton {
    font-size: 10pt;
    margin: 0px;
    padding: 2px 10px;
    background-color: #0F91D2;
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 5px;
    border: 1px solid #0F91D2;
}
    .TooltipForm .TooltipButton:active {
        border: 1px solid #0F91D2;
        background-color: #fff;
        color: #0F91D2;
    }

.FlightResultHeader{
    padding: 15px;
}
    .FlightResultHeader .Sorter {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: table;
        width: 100%;
        list-style: none;
    }
        .FlightResultHeader .Sorter li {
            display: table-cell;
            text-align: center;
            width: 16.667%;
        }
.FlightResult {
    border: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .FlightResult:hover, .FlightResult.active {
        background-color: #fafafa;
        border: 1px solid #0F91D2;
    }
    .FlightResult .Header {
    list-style: none;
    display: table;
    margin: 0px;
    padding: 0px;
    width: 100%;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    .FlightResult .Header li {
        display: table-cell;
        width: 16.667%;
        margin: 0px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }
        .FlightResult .Header li:nth-child(1) img{
            max-height: 24px;
            
        }
.FlightSelectBtn{
    padding: 5px 15px;
    font-size: 10pt;
    background-color: rgba(249,123,12,1);
    border: 1px solid rgba(249,123,12,1);
    color: #fff;
    outline: none;
}
    .FlightSelectBtn:active {
        background-color: #fff;
        color: rgba(249,123,12,1);
    }
    .GiaVe{
    color: #BA0403;
    font-weight: bold;
    font-size: 12pt;
}
.FlightDetails{
    display: table;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 10pt;
    font-weight: 600;
    color: #888888;
}
    .FlightDetails td {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
        .FlightDetails img.LogoHangBay {
        height: 16px;
    }
.FlightTimeDetails {
    color: #888888;
    font-size: 10pt;
    font-weight: 600;
}
    .FlightTimeDetails td {
        padding: 5px 10px;
    }
        .FlightTimeDetails td strong {
            font-size: 12pt;
            color: #666666;
        }
.QuickPrice{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}
    .QuickPrice th {
        text-align: center;
        font-weight: 600;
        font-size: 10pt;
        padding: 5px;
    }
    .QuickPrice td{
        padding-bottom: 15px;
    } 
    .QuickPrice td strong {
        color: #BA0403;
        font-size: 10pt;
    }
.dl-horizontal{
    margin-bottom: 15px;
    padding-bottom: 0px;
}
    .dl-horizontal:last-child {
        margin-bottom: 0px;
    }
    .dl-horizontal dt {
    font-weight: normal;
    text-align: left;
}
.FlightDetailsPanel{
    margin-top: 15px;
    border: 1px solid #0F91D2;
    border-radius: 0px;
    margin-bottom: 0px;
}
    .FlightDetailsPanel .panel-heading{
        padding: 10px;
        padding-bottom: 0px;
    }
        .FlightDetailsPanel .panel-heading h4 {
            color: #0F91D2;
            margin: 0px;
            font-size: 12pt;
            font-weight: 600;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
            .FlightDetailsPanel .panel-heading h4 small {
                font-size: 12pt;
            }
        .FlightDetailsPanel .panel-heading h5 {
            margin-bottom: 5px;
        }
            .FlightDetailsPanel .panel-heading h6 {
            color: #666666;
            font-size: 10pt;
            margin-top: 5px;
            margin-bottom: 0px;
        }
    .FlightDetailsPanel .panel-body {
        padding: 10px;
    }
.SelectedFlightDetailsBody .LogoHangBay{
    max-height: 24px;
}
.SelectedFlightDetailsBody {
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-bottom: 10px;
}
    .SelectedFlightDetailsBody > tr:nth-child(1) > td {
        padding-top: 10px;
    }
    .SelectedFlightDetailsBody > tr:last-child > td {
        padding-bottom: 10px;
    }
    .SelectedFlightDetailsBody td {
        padding: 5px;
        text-align: center;
    }
        .SelectedFlightDetailsBody td table{
        } 
        .SelectedFlightDetailsBody td table td {
            text-align: center;
        }
td > .timeline{
    display: block;
    position: relative;
    float: left;
    height: 50px;
    width: 2px;
    background-color: #0F91D2;
    left: 0px;
    padding: 0px;
    margin-left: 2px;
    margin-top: 24px;
    margin-right: 5px;
}
td > .timeline:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #0F91D2;
    transform: rotate(45deg);
    top: -7px;
    left: -3px;
}
    td > .timeline:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #0F91D2;
        transform: rotate(45deg);
        bottom: -7px;
        left: -3px;
    }
    td > .timeline.main:before {
        left: -4px;
    }
        .SelectedFlightDetailsQuickPrice{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
    .SelectedFlightDetailsQuickPrice th {
        font-weight: 600;
    }
    .SelectedFlightDetailsQuickPrice td strong {
        color: #BA0403;
    }
button.ChangeFlight{
    float: right;
    font-size: 10pt;
    height: 32px;
    line-height: 24px;
    padding-left: 32px;
    background-color: #0F91D2;
    border: 1px solid #0F91D2;
    outline: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/refresh-round-symbol-white.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 8px center;
}
    button.ChangeFlight:active {
        background-image: url(../img/refresh-round-symbol.png);
        color: #0F91D2;
        border: 1px solid #0F91D2;
        background-color: #fff;
    }
button.next-step {
    float: right;
    font-size: 12pt;
    height: 32px;
    line-height: 24px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #0F91D2;
    border: 1px solid #0F91D2;
    outline: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    button.next-step:active {
        color: #0F91D2;
        border: 1px solid #0F91D2;
        background-color: #fff;
    }
    button.next-step.top {
        margin-top: 15px;
        float: left;
        width: 100%;
    }
    dl .total {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 14pt;
}
    dl.total dt {
        width: 220px;
        font-weight: 600;
        line-height: 20pt;
    }
    dl.total dd {
        line-height: 19pt;
        font-size: 12pt;
        color: #BA0403;
        text-align: right;
        font-weight: bold;
    }
    hr{
        margin-top: 10px;
        margin-bottom: 10px;
    }
/*Step form*/
.step-form-container{
    padding-left: 32px;
} 
.step-form {
    border: 1px solid #0F91D2;
    padding: 15px 15px;
}
.step-form .form-header{
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #0F91D2;
    margin-bottom: 0px;
}
    .step-form .input-group{
        width: 100%;
        margin-top: 10px;
        position: relative;
    }
    .step-form .input-group label{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: block;
        font-size: 10pt;
        font-weight: 600;
    }
        .step-form .input-group input {
            display: block;
            width: 100%;
            height: 36px;
            line-height: 32px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10pt;
            line-height: 20px;
            padding-left: 10px;
            outline: none;
            border: 1px solid #e0e0e0;
        }
            .step-form .input-group input:focus {
                border: 1px solid #0F91D2;
            }
    .step-form .input-group .phone-number{
        display: block;
        width: 100%;
        padding-left: 55px;
    }
        .step-form .input-group .phone-number .head {
            width: 50px;
            float: left;
            margin-left: -55px;
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
        }
        .step-form .input-group .phone-number .body {
           
        }
        .step-form .input-group .phone-number .selectize-control.head {
            padding: 0px;
            position: static;
            
        }
        .step-form .input-group .phone-number .selectize-input.items {
            height: 36px;
        }
        .step-form .input-group .phone-number .selectize-dropdown.head {
            float: none;
            position: absolute;
            margin-left: 0px;
            width: 200px !important;
            padding: 0px;
        }
        .step-form .input-group .phone-number .selectize-control.single .selectize-input:after{
            display: none;
        }
    .step-form fieldset {
        margin-top: 15px;
    }
        .step-form fieldset legend{
            font-size: 12pt;
            font-weight: 600;
            color: #0F91D2;
            padding-bottom: 5px;
            margin-bottom: 0px;
            border-color: #0F91D2;
        }
selectize-input.items.focus::after{
    display: none;
}
.selectize-dropdown-content{
    padding: 0px;
}
.selectize-dropdown-content div{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}
.input-group .select {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    left: 0px;
    padding: 10px;
    z-index: 2;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
}
    .input-group .select ul.options{
        list-style: none;
        margin: 0px;
        padding: 0px;
        max-height: 200px;
        overflow-y: auto;
        margin-top: 5px;
    }
        .input-group .select ul.options li {
            border-bottom: 1px solid #f0f0f0;
            padding: 5px;
            cursor: pointer;
        }
            .input-group .select ul.options li:hover {
                background-color: #f0f0f0;
            }
            .input-group .select ul.options li:last-child {
                border: none;
            }
    .input-group .select > input.filter {
        font-size: 10pt;
        padding: 5px;
        height: 24px;
    }
    .input-group .select .options.country-phone-codes li span.code {
        float: left;
        width: 48px;
        margin-left: -48px;
    }
.selectize-dropdown-content div span.code {
    display: inline-block;
    width: 48px;
    text-align: left;
}
    .input-group .select .options.country-phone-codes li{
        padding-left: 48px;
    }
    .step-form-container .form-tag{
        background-color: #0F91D2;
        position: absolute;
        left: 15px;
        text-align: center;
        width: 32px;
        height: 32px;
    }
        .step-form-container .form-tag i.fa{
            text-align: center;
            max-width: 24px;
            max-height: 24px;
            color: #fff;
            font-size: 14pt;
            line-height: 34px;
        }
.input-group.inline {
    padding-left: 130px;
}.input-group.inline label {
    float: left;
    display: inline;
    margin-left: -130px;
    line-height: 36px;
}

.selectize-control {
    box-shadow: none;
}
    .selectize-control.single {
        box-shadow: none;
    }
        .selectize-control.single .selectize-input{
            box-shadow: none;
        } 
        .selectize-control.single .selectize-input, .selectize-dropdown.single {
            border: 1px solid #e0e0e0;
        }
    .selectize-control.single .selectize-input {
        background: none;
        background-color: #fff;
        line-height: 36px;
    }
.selectize-input {
    padding: 0px 10px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    background: none;
    background-color: #fff;
    font-size: 10pt;
    line-height: 36px;
}
        .selectize-input input {
            font-size: 10pt;
            line-height: 36px;
        }
    .selectize-input.focus {
        box-shadow: none;
        border-radius: 0px;
    }
        .selectize-input .item {
            height: 36px;
            line-height: 36px;
            border-radius: 0px;
            background-color: #fff;
            font-size: 10pt;
            line-height: 36px;
        }
.selectize-dropdown .option {
    border-bottom: 1px solid #f0f0f0;
    padding: 5px;
    cursor: pointer;
}
.step-form-submit{
    text-align: right;

}
    .step-form-submit button {
        background-color: rgba(249,123,12,1);
        color: #fff;
        height: 32px;
        width: 128px;
        font-size: 12pt;
        line-height: normal;
        border: 1px solid rgba(249,123,12,1);
        outline: none;
    }
        .step-form-submit button:active {
            color: rgba(249,123,12,1);
            background-color: #fff;
        }
.next-step.top.yellow {
    margin-top: 0px;
    float: none;
    background-color: rgba(249,123,12,1);
    border-color: rgba(249,123,12,1);
}
    .next-step.top.yellow:active {
        background-color: #fff;
        color: rgba(249,123,12,1);
    }
.customer-info-list:not(:last-child) {
    margin-bottom: 15px;
}
.customer-group {
    padding-left: 15px;
}
.customer-group-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.customer{
    padding-left: 20px;
    margin-bottom: 10px;
}
.customer .number{
    float: left;
    margin-left: -20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}
.customer dl{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    border-left: 1px solid #e0e0e0;
    padding-left: 10px;
}
dl.dl-horizontal.thong-tin-giao-dich{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dl-horizontal.thong-tin-giao-dich dt {
    width: 210px;
}
dl.dl-horizontal.thong-tin-giao-dich dd {
    width: 200px;
    text-align: right;
}
.banks{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
    .banks li {
        display: inline-block;
        vertical-align: middle;
        height: 48px;
        margin: 5px;
        padding: 10px 5px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }
        .banks li img {
            height: 100%;
            width: auto;
            display: block;
        }
        .banks li.selected {
            border-bottom: 2px solid #0F91D2;
        }
.finish-step{
    text-align: center;
}
    .finish-step > img {
        margin-top: 30px;
        margin-bottom: 30px;
        max-width: 40%;
    }

.breadcrumb{
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: none;
    /*border-bottom: 1px solid #0F91D2 ;*/
    border-radius: 0px;
    margin-bottom: 0px;
}
    .breadcrumb li {
        font-size: 13pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }
        .breadcrumb li a {
            text-decoration: none;
            color: #1BA0E2;
        }
    .breadcrumb > li + li:before{
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-top: -2px;
        margin-right: 2px;
        vertical-align: middle;
        background-image: url(../img/right-thin-chevron.png);
        background-size: 100% auto;
        background-repeat: no-repeat;

    }
.promotions-container{

}
.promotions-container .promotion {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    margin-bottom: 15px;
}
    .promotions-container .promotion a {
        text-decoration: none;
    }
        .promotions-container .promotion a.title {
            text-decoration: none;
            font-size: 13pt;
            font-weight: 600;
            line-height: 1.2em;
            text-align: justify;
            color: #0F91D2;
        }
    .promotions-container .promotion .img_title {
        float: left;
        margin-right: 15px;
        width: 240px;
        height: 160px;
    }
    .promotions-container .promotion p{
        padding-top: 10px;
        font-size: 12pt;
        text-align: justify;
        
    }
    .promotions-container .promotion::after {
        content: '';
        display: block;
        clear: left;
    }
.pagination{
    text-align: right;
    width: 100%;
}
    .pagination li {
        display: inline-block;
        border-radius: 0px;
    }
        .pagination li a {
            text-decoration: none;
            color: #0F91D2;
        }
        .pagination li.active a {
            background-color: #0F91D2;
        }
        .pagination > li:first-child > a, .pagination > li:first-child > span{
        border-radius: 0px;
    }
    .pagination > li:last-child > a, .pagination > li:last-child > span {
        border-radius: 0px;
    }
.bookingForm.aside{
    margin-top: 15px;
    top: 0px;
    margin-bottom: 0px;
}
.bookingForm.aside fieldset:before {
    display: none;
}
    .bookingForm.aside .bookingFormHeader{
        margin-bottom: 0px;
    }
    .bookingForm.aside .bookingFormHeader h4 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12pt;
        line-height: 1em;
    }
.bookingForm.aside fieldset{
    margin-top: 15px;
}
.sticks {
    display: none;
}

.is-sticky .sticks {
    display: block;
}

.is-sticky .not-sticky {
    display: none;
}
.sticky-fix-container {
    padding-top: 0px;
    padding-right: 0px;
    transition: all ease 500ms;
    height: 60px;
    width: 760px;
    margin-left: -10px;
}
    .sticky-fix-container .title {
        display: inline-block;
        margin-left: 70px;
        margin-top: 5px;
        visibility: hidden;
    }
.next-step.sticky-fix {
    margin-top: -28px;
}
.is-sticky .next-step.sticky-fix{
    box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);
}
.is-sticky .sticky-fix-container {
    padding-right: 10px;
    padding-top: 18px;
    background-image: url(../img/float-overlay.png);
    background-size: 100% auto;
}

    .is-sticky .sticky-fix-container .title {
        visibility: visible;
        font-weight: bold;
    }

@media screen and (max-width: 1280px) {
    .sidebar-avoid {
        padding-right: 60px;
    }
}
fieldset.no-border:before{
    display: none;
}

.bookingForm .form-group .form-control-container.no-icon .form-control {
    padding-left: 10px;
}
.input-popup{
    position:absolute;
    top: 36px;
    left: 0px;
    background-color: #fff;
    width: 1000px;
    height: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
    .input-popup .header {
        background-color: #0F91D2;
        color: #fff;
        padding: 5px 10px;
        position: relative;
        font-weight: 600;
        margin-bottom: 2px;
    }
        .input-popup .header > img {
            position: absolute;
            height: 16px;
            width: 16px;
            right: 10px;
            top: 7px;
        }
    .input-popup .tabs {
        list-style: none;
        margin: 0px; padding: 0px;
        margin-left: 2px;
        margin-bottom: 2px;
        float: left;
        width: 100px;
    }
        .input-popup .tabs li {
            padding: 20px;
            background-color: #efefef;
            border-bottom: 1px solid #e0e0e0;
            cursor: pointer;
        }
            .input-popup .tabs li.is-active {
                background-color: #0F91D2;
                color: #fff;
            }
    .input-popup .content{
        display: block;
        margin-left: 100px;
    }
        .input-popup .content .tab-content{
            display: none;
        }
            .input-popup .content .tab-content.is-active {
                display: block;
            }
.multicol{
    display: table;
}
    .multicol .col {
        display: table-cell;
    }
        .multicol .col:not(:last-child) {
            border-right: 1px solid #e0e0e0;
        }
        .multicol .col > h3 {
            margin: 0px;
            font-size: 12pt;
            font-weight: 600;
            color: #0F91D2;
            margin-top: 10px;
            margin-left: 10px;
        }
.ds-chuyen-bay{
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0px;
}
    .ds-chuyen-bay li {
        display: block;
        padding: 2px 10px;
        cursor: pointer;
    }
        .ds-chuyen-bay li:hover {
            background-color: #efefef;
        }
.single-line-form {
    padding: 10px;
    padding-right: 120px;   
}
    .single-line-form .button{
        position: absolute;
        right: 10px;
    }
        .single-line-form .button button {
            width: 100px;
            height: 36px;
            line-height: 32px;
            background-color: rgba(249,123,12,1);
            border: 1px solid rgba(249,123,12,1);
            color: #fff;
            outline: none;
        }
            .single-line-form .button button:active {
                border: 1px solid rgba(249,123,12,1);
                background-color: #fff;
                color: rgba(249,123,12,1);
            }
.bookingForm.aside .input-popup {
    left: auto;
    right: 0px;
    width: 320px;
}
    .bookingForm.aside .input-popup .tabs {
        width: 80px;
    }
        .bookingForm.aside .input-popup .tabs li {
            padding: 5px;
        }
    .bookingForm.aside .input-popup .content {
        display: block;
        margin-left: 80px;
    }
        .bookingForm.aside .input-popup .content .multicol {
            display: block;
        }
            .bookingForm.aside .input-popup .content .multicol .col {
                display: block;
            }
                .bookingForm.aside .input-popup .content .multicol .col h3{
                    font-size: 10pt;
                }
.bookingForm.aside .ds-chuyen-bay{
    font-size: 10pt;
}
.bookingForm.aside .ds-chuyen-bay li{
    font-size: 10pt;
}
.bookingForm.aside .single-line-form {
    padding-right: 80px;
}
    .bookingForm.aside .single-line-form .button button {
        width: 60px;
    }

/*icon số người ở form chọn*/
#soNguoiLon + img, #soTreEm + img, #soTreSoSinh + img{
    display: none;
}
/*Hightlight cuối tuần*/
a.ui-datepicker-next, a.ui-datepicker-prev{
    border-radius: 0px;
}
a.ui-state-default {
    text-decoration: none;
    border-radius: 0px;
}
.ui-datepicker-week-end:nth-child(1) a {
    background-image: none;
    /*background-color: #BA0403;*/
    color: #BA0403;
    /*border: 1px solid #BA0403;*/
}
.ui-datepicker-week-end:last-child a {
    /*background-image: none;
    background-color: #FA953D;
    color: #fff;
    border: 1px solid transparent;*/
}
.FlightResult ul li .label{
    margin-top: 5px;
    display: inline-block;
    padding: 5px;
}
.label-info.no-background {
    background-color: transparent !important;
    color: #0F91D2;
}
/*custom panel*/
.panel.panel-default{
    border-radius: 0px;
}
    .panel.panel-default .panel-heading .panel-title a {
        font-weight: 600;
        text-decoration: none;
        color: #666666;
        display: block;
    }
    .panel.panel-default .panel-body .step-form-submit {
        margin-top: 15px;
    }
/*Home Slider fixes*/
.carousel-inner > .item {
    position: relative;
}
/*.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    max-width: initial;
    width: auto;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
}*/

/*.homeSlider .carousel-inner .item > a {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
}*/

#accordion{

}
    #accordion > .panel-default > .panel-heading {
        height: 60px;
        padding-left: 80px;
    }
        #accordion > .panel-default > .panel-heading > .panel-title > a{
            font-size: 16px;
        } 
            #accordion > .panel-default > .panel-heading > .panel-title > a > img {
                height: 100%;
                float: left;
                margin-right: 10px;
                margin-left: -65px;
            }
            #accordion > .panel-default > .panel-heading > .panel-title > a > small {
                margin-top: 5px;
                display: block;
            }
.list-banks td {
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
}
#main table {
     float: left; 
    clear: both;
}
.list-banks td td {
    border: none;
    padding: 2px 10px;
}
.bank-name {
    color: #666;
    font-weight: bold;
}
#loading-full-screen{
    position: fixed;
    z-index: 10000;
    background-color: rgba(255,255,255,0.75);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}
#loading-full-screen > img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    border-radius: 60px;
    margin-top: -60px;
    margin-left: -60px;
}
    #loading-full-screen:before {
        content: "";
        position: absolute;
        width: 116px;
        height: 116px;
        top: 50%;
        left: 50%;
        margin-top: -58px;
        margin-left: -58px;
        border-radius: 50%;
        background: none;
        box-shadow: 0px 0px 30px 0px #ffffff;
    }
    #loading-full-screen::after {
        content: "Đang tải dữ liệu, xin vui lòng đợi...";
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: 70px;
        text-align: center;
        color: #0F91D2;
        display: block;
        font-size: 16px;
        font-weight: 600;
    }
    .dkdatve.ng-binding table {
    font-size: 13px;
}