﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-3 bg-white container-products" ng-controller="HomeController">
    <div class="shop-toolbar pb-3" style="padding-top: 80px">
        <div class="column">
            <ul class="nav-filter pl-0">
                <li>
                    <a href="#" class="">
                        Khu vực
                        <i class="icon-arrow-down icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="">
                        Ẩm thực
                        <i class="icon-arrow-down icons"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Phân loại
                        <i class="icon-arrow-down icons"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="column">
            <div class="shop-sorting">
                <label for="sorting">{{totalItem}} kết quả</label>
                <select class="form-control mr-0">
                    <option>Tất cả địa điểm</option>
                    <option>TP.HCM</option>
                    <option>Hà Nội</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <span class="text-muted pr-2">Tu khoa: </span>
            <a class="btn btn-tag">
                {{searchValue}}
                <i class="icon-close icons text-danger" ng-if="searchValue!=''" ng-click="ClearSearch()"></i>
            </a>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-3 col-6"
                     ng-repeat="(index, item) in filteredModel = listSearchProduct | limitTo: paging.itemsPerPage : (paging.current - 1) * paging.itemsPerPage">
                    <div class="product-card">
                        <div class="product-badge on"></div>
                        <a class="product-thumb" href="#">
                            <img ng-src="{{baseImageUrl+item.imageUrl}}" alt="Product">
                        </a>
                        <h3 class="product-title pl-1">
                            <a href="#">{{item.dishName}}</a>
                            <span class="product-card-like-btn">
                                <i class="icon-heart icons"></i>&nbsp; {{item.productSaleTotal}}
                            </span>
                        </h3>
                        <h4 class="product-price pl-1">
                            {{item.unitPrice | number}}đ
                            <span ng-click="AddProduct(item)"><i class="icon-plus icons text-danger"></i></span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <nav class="pagination">
                        <div class="column">
                            <ul class="pages" uib-pagination total-items="filteredModel.length" items-per-page="paging.itemsPerPage"
                                ng-model="paging.current" max-size="ctrl.paging.maxSize"
                                boundary-links="true" class="pagination-sm" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
