﻿/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

    .c-hamburger:focus {
        outline: none;
    }

    .c-hamburger span {
        display: block;
        position: absolute;
        top: 44px;
        left: 18px;
        right: 18px;
        height: 8px;
        background: white;
    }

        .c-hamburger span::before,
        .c-hamburger span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: #fff;
            content: "";
        }

        .c-hamburger span::before {
            top: -20px;
        }

        .c-hamburger span::after {
            bottom: -20px;
        }

/**
 * Style 1
 *
 * Rotating hamburger icon (rot), that simply rotates 90 degrees when activated.
 * Nothing too fancy, simple transition.
 */
.c-hamburger--rot {
    background-color: #28aadc;
}

    .c-hamburger--rot span {
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    /* active state, i.e. menu open */
    .c-hamburger--rot.is-active {
        background-color: #166888;
    }

        .c-hamburger--rot.is-active span {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx {
    background-color: #ff3264;
}

    .c-hamburger--htx span {
        -webkit-transition: background 0s 0.3s;
        transition: background 0s 0.3s;
    }

        .c-hamburger--htx span::before,
        .c-hamburger--htx span::after {
            -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
            -webkit-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
        }

        .c-hamburger--htx span::before {
            -webkit-transition-property: top, -webkit-transform;
            transition-property: top, transform;
        }

        .c-hamburger--htx span::after {
            -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
        }

    /* active state, i.e. menu open */
    .c-hamburger--htx.is-active {
        background-color: #cb0032;
    }

        .c-hamburger--htx.is-active span {
            background: none;
        }

            .c-hamburger--htx.is-active span::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .c-hamburger--htx.is-active span::after {
                bottom: 0;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            .c-hamburger--htx.is-active span::before,
            .c-hamburger--htx.is-active span::after {
                -webkit-transition-delay: 0s, 0.3s;
                transition-delay: 0s, 0.3s;
            }

/**
 * Style 3
 *
 * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
 * arrow. Usually indicates an off canvas menu sliding in from left that
 * will be close on re-click of the icon.
 */
.c-hamburger--htla {
    background-color: #32dc64;
}

    .c-hamburger--htla span {
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

        .c-hamburger--htla span::before {
            -webkit-transform-origin: top right;
            -ms-transform-origin: top right;
            transform-origin: top right;
            -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
            transition: transform 0.3s, width 0.3s, top 0.3s;
        }

        .c-hamburger--htla span::after {
            -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
            transition: transform 0.3s, width 0.3s, bottom 0.3s;
        }

    /* active state, i.e. menu open */
    .c-hamburger--htla.is-active {
        background-color: #18903c;
    }

        .c-hamburger--htla.is-active span {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

            .c-hamburger--htla.is-active span::before,
            .c-hamburger--htla.is-active span::after {
                width: 50%;
            }

            .c-hamburger--htla.is-active span::before {
                top: 0;
                -webkit-transform: translateX(38px) translateY(4px) rotate(45deg);
                -ms-transform: translateX(38px) translateY(4px) rotate(45deg);
                transform: translateX(38px) translateY(4px) rotate(45deg);
            }

            .c-hamburger--htla.is-active span::after {
                bottom: 0;
                -webkit-transform: translateX(38px) translateY(-4px) rotate(-45deg);
                -ms-transform: translateX(38px) translateY(-4px) rotate(-45deg);
                transform: translateX(38px) translateY(-4px) rotate(-45deg);
            }

/**
 * Style 4
 *
 * Hamburger to right-arrow (htra). Hamburger menu transforms to a
 * right-pointing arrow. Usually indicates an off canvas menu sliding in from 
 * right that will be close on re-click of the icon.
 */
.c-hamburger--htra {
    background-color: #ff9650;
}

    .c-hamburger--htra span {
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

        .c-hamburger--htra span::before {
            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;
            -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
            transition: transform 0.3s, width 0.3s, top 0.3s;
        }

        .c-hamburger--htra span::after {
            -webkit-transform-origin: bottom left;
            -ms-transform-origin: bottom left;
            transform-origin: bottom left;
            -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
            transition: transform 0.3s, width 0.3s, bottom 0.3s;
        }

    /* active state, i.e. menu open */
    .c-hamburger--htra.is-active {
        background-color: #e95d00;
    }

        .c-hamburger--htra.is-active span {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

            .c-hamburger--htra.is-active span::before,
            .c-hamburger--htra.is-active span::after {
                width: 50%;
            }

            .c-hamburger--htra.is-active span::before {
                top: 0;
                -webkit-transform: translateX(-8px) translateY(4px) rotate(-45deg);
                -ms-transform: translateX(-8px) translateY(4px) rotate(-45deg);
                transform: translateX(-8px) translateY(4px) rotate(-45deg);
            }

            .c-hamburger--htra.is-active span::after {
                bottom: 0;
                -webkit-transform: translateX(-8px) translateY(-4px) rotate(45deg);
                -ms-transform: translateX(-8px) translateY(-4px) rotate(45deg);
                transform: translateX(-8px) translateY(-4px) rotate(45deg);
            }
