﻿* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-family: 'Segoe UI';*/
    font-weight: normal;
    font-size: 10pt;
    box-sizing: border-box;
    transition: none;
}
* {
    /*-webkit-overflow-scrolling: touch;*/
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
}
body {
    width: 100%;
    height: 100%;
    position: static;
    box-sizing: border-box;
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.wrapper{
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/*//facebook in-app browser fix*/
/*html, body, .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}*/
    body.modal-open {
        overflow: hidden !important;
    }
    /*c-hamburger customize*/
    .c-hamburger {
        width: 32px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
    }
.c-hamburger.onmenu{
    float: right;
    margin-top: 5px;
}
    .c-hamburger span {
        top: 10px;
        left: 5px;
        right: 5px;
        height: 2px;
        /*border-radius: 2px;*/
    }

        .c-hamburger span::before,
        .c-hamburger span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
            content: "";
            /*border-radius: 2px;*/
        }
    .c-hamburger.onmenu span {
        
    }
        .c-hamburger.onmenu span::before,
        .c-hamburger.onmenu span::after {
            background-color: #666;
        }

        .c-hamburger span::before {
            top: -6px;
        }

        .c-hamburger span::after {
            bottom: -6px;
        }

.c-hamburger--htx {
    background: none;
}

.c-hamburger--htx.is-active {
    background: none;
}
    
/*Head Top*/
.mHeadTop {
    background-color: #0F91D2;
    padding: 10px 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 999;
    box-sizing: border-box;
    border-bottom: 1px solid #0f86c1;
}
    .mHeadTop img.logo{
        height: 24px;
        display: inline-block;
        vertical-align: middle;
    }
    .mHeadTop .contact{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 12pt;
        color: #fff !important;
        padding-top: 4px;
        position: absolute;
        right: 15px;
        top: 8px;
    }
        .mHeadTop .contact a {
            color: #fff !important;
        }
        .mHeadTop .contact img {
            height: 20px;
            vertical-align: middle;
            margin-top: -2px;
        }
/*Thanh menu*/
.mMainMenu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 95vw;
    bottom: 0px;
    /*background-color: #1B1B1B;*/
    background-color: #efefef;
    overflow: auto;
    z-index: 1000;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 500ms ease;
    box-shadow: -12px 0px 10px -10px rgba(0,0,0,0.25) inset;
}
    .mMainMenu.is-active {
        left: 0%;
    }
    .mMainMenu .top {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #888888;
    }
    .mMainMenu .top .logo {
        height: 48px;
    }
/*Head contact*/
.headContactContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888888;
}
.headContact{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    color: #666 !important;
    font-size: 10pt;
}
    .headContact a {
        color: #666 !important;
    }
    .headContact .headContactIcon {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin-top: 10px;
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;

}
.headContact:nth-child(1){
    margin-right: 10px;
    padding-right: 24px;
}
    .headContact:nth-child(1) .headContactIcon {
        background-image: url(../img/phone.png);
    }
    .headContact:nth-child(1) > div:nth-child(3){
        font-family: 'Segoe UI';
        font-weight: 300;
        font-size: 8pt;
    }
.headContact:nth-child(2){

}
    .headContact:nth-child(2) > div:nth-child(2) > span, .headContact:nth-child(2) > div:nth-child(3) {
        font-family: 'Segoe UI';
        font-weight: 300;
        font-size: 8pt;
    }
    .headContact:nth-child(2) .headContactIcon {
        background-image: url(../img/clock.png);
        background-size: auto 100%;
    }
/*MainMenu*/
.mMainMenu .menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 15px;
    z-index: 2;
    position: relative;
}
    .mMainMenu .menu li {

    }
        .mMainMenu > .menu > li > a{
            display: block;
            font-size: 14pt;
            line-height: 1em;
            margin-bottom: 15px;
            color: #666;
            font-weight: 300;
            text-decoration: none;
        }
            .mMainMenu > .menu > li > a.is-active, .mMainMenu > .menu > li > a:hover {
                color: #F86D00;
            }
            .mMainMenu > .menu > li > a:before {
                content: '';
                float: left;
                vertical-align: middle;
                width: 20pt;
                height: 20pt;
                background-repeat: no-repeat;
                margin-right: 5px;
                background-size: 180px;
                margin-top: -5px;
            }
            .mMainMenu > .menu > li > a.home:before {
                background-position: -3px -60px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.home.is-active:before, .mMainMenu > .menu > li > a.home:hover::before {
                background-position: -3px 0px;
            }
            .mMainMenu > .menu > li > a.promote:before {
                background-position: -3px -91px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.promote.is-active:before, .mMainMenu > .menu > li > a.promote:hover::before {
                background-position: -3px -31px;
            }
            .mMainMenu > .menu > li > a.contact:before {
                background-position: -92px -91px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.contact.is-active:before, .mMainMenu > .menu > li > a.contact:hover::before {
                background-position: -92px -31px;
            }
            .mMainMenu > .menu > li > a.subscribe:before {
                background-position: -123px -60px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.subscribe.is-active:before, .mMainMenu > .menu > li > a.subscribe:hover::before {
                background-position: -123px -0px;
            }
            .mMainMenu > .menu > li > a.question:before {
                background-position: -63px -91px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.question.is-active:before, .mMainMenu > .menu > li > a.question:hover::before {
                background-position: -63px -31px;
            }
            .mMainMenu > .menu > li > a.creditcard:before {
                background-position: -123px -91px;
                background-image: url(../img/menu-sprite.png);
            }

            .mMainMenu > .menu > li > a.creditcard.is-active:before, .mMainMenu > .menu > li > a.creditcard:hover::before {
                background-position: -123px -31px;
            }
            .mMainMenu > .menu > li > a.help:before {
                background-position: -93px -60px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.help.is-active:before, .mMainMenu > .menu > li > a.help:hover::before {
                background-position: -93px -0px;
            }
            .mMainMenu > .menu > li > a.cart:before {
                background-position: -63px -61px;
                background-image: url(../img/menu-sprite.png);
            }
            .mMainMenu > .menu > li > a.cart.is-active:before, .mMainMenu > .menu > li > a.cart:hover::before {
                background-position: -63px -1px;
            }
    .mMainMenu .menu li ul{
        margin: 0px;
        padding: 0px;
        margin-left: 30px;
        list-style: none;
        margin-top: -5px;
        margin-bottom: 15px;
    }
        .mMainMenu .menu li ul > li {
            margin-bottom: 5px;
        }
            .mMainMenu .menu li ul > li > a {
                display: block;
                color: #fff;
                font-weight: 300;
                text-decoration: none;
            }
            mMainMenu .menu li ul > li > a:hover, mMainMenu .menu li ul > li > a.is-active {
                color: #F86D00;
            }
            .mMainMenu .menu li ul > li > a:before {
                content: '+';
                font-size: 14pt;
                padding-right: 5px;
            }
.mMainMenu .soccial-icons{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    z-index: 1001;
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #888888;
    padding-left: 15px;
    padding-right: 15px;
}
    .mMainMenu .soccial-icons > li{
        display: inline-block;
        vertical-align: middle;
    }
        .mMainMenu .soccial-icons > li:not(:first-child) {
            margin-left: 0px;
        }
    .mMainMenu .soccial-icons > li > a {
        display: block;
        width: 42px;
        height: 42px;
        background-size: auto 40px;
        background-repeat: no-repeat;
    }
    
        .mMainMenu .soccial-icons > li > a.facebook {
            background-image: url(../img/soccial-sprite.png);
            background-position: 0px 0px;
        }
        .mMainMenu .soccial-icons > li > a.gplus {
            background-image: url(../img/soccial-sprite.png);
            background-position: -42px 0px;
        }
        .mMainMenu .soccial-icons > li > a.messenger {
            background-image: url(../img/soccial-sprite.png);
            background-position: -86px 0px;
        }
        .mMainMenu .soccial-icons > li > a.zalo {
            background-image: url(../img/soccial-sprite.png);
            background-position: -130px 0px;
        }
        .mMainMenu .soccial-icons > li > a.viper {
            background-image: url(../img/soccial-sprite.png);
            background-position: -174px 0px;
        }
        .mMainMenu .soccial-icons > li > a.skype {
            background-image: url(../img/soccial-sprite.png);
            background-position: -216px 0px;
        }
.underlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
}
    .underlay.is-active{
        opacity: 1;
        visibility: visible;
    }
/*Home banner*/
.mHomeBanner {
    display: block;
    height: 30%;
    min-height: 220px;
    background-color: #0F91D2;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}
    .mHomeBanner > img {
        position: absolute;
        bottom: -5vh;
        width: 35%;
        left: 5%;
    }
    .mHomeBanner > .greeting {
        position: absolute;
        bottom: 3vh;
        width: 50%;
        right: 5%;
        color: #fff;
    }
        .mHomeBanner > .greeting > .call-to-action {
            display: inline-block;
            padding: 5px 10px;
            color: #0F91D2;
            background-color: #fff;
            border: none;
        }
.mBookingForm{
    padding: 15px;
}
    .mBookingForm > form {
        margin: 0px;
        padding: 0px;
    }
        .mBookingForm > form > fieldset {
            border: none;
            margin: 0px;
            padding: 0px;
        }
            .mBookingForm > form > fieldset .mInputWrapper {
                padding: 10px 15px;
                background-color: #F2F2F2;
                border-top: 1px solid #D4D4D4;
                border-left: 1px solid #D4D4D4;
                border-right: 1px solid #D4D4D4;
                position: relative;
            }
                .mBookingForm > form > fieldset .mInputWrapper:first-child {
                    /*border-top-left-radius: 5px;
                    border-top-right-radius: 5px;*/
                }
                .mBookingForm > form > fieldset .mInputWrapper:last-child {
                    /*border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;*/
                    border-bottom: 1px solid #D4D4D4;
                }
                .mBookingForm > form > fieldset .mInputWrapper > input {
                    display: none;
                }
                .mBookingForm > form > fieldset .mInputWrapper > label.label {
                    color: #888888;
                }
                .mBookingForm > form > fieldset .mInputWrapper > label.output {
                    color: #0F91D2;
                    float: right;
                }
/*Popup chọn địa điểm*/
.modal {
    -webkit-overflow-scrolling: touch;
    position: absolute;
    overflow: scroll;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: #fff;
}

.modal-dialog.modal-fullscreen {
    /*height: 100vh;*/
    /*overflow: auto;*/
    /*overflow-y: scroll;*/ /* has to be scroll, not auto */
    background-color: #fff;
    /*overflow: auto;
    display: block;
    position: page;
    width: 100%;
    height: 100%;*/
}

    .modal-dialog.modal-fullscreen .modal-header {
        padding: 10px;
        border-bottom: 2px solid #0F91D2;
        background-color: #0F91D2;
        color: #fff;
        font-weight: 600;
    }

        .modal-dialog.modal-fullscreen .modal-header h3 {
            margin-bottom: 0px;
            padding-top: 5px;
        }

        .modal-dialog.modal-fullscreen .modal-header .searchWrapper {
            display: block;
            padding-right: 42px;
        }

            .modal-dialog.modal-fullscreen .modal-header .searchWrapper .search {
                border: 1px solid #e0e0e0;
                outline: none;
                background-color: #fff;
                width: 100%;
                height: 32px;
                line-height: 32px;
                padding: 5px 10px;
            }

        .modal-dialog.modal-fullscreen .modal-header .close {
            position: absolute;
            right: 10px;
            top: 6px;
            width: 32px;
            height: 32px;
            color: transparent;
            background-image: url(../img/cancel.png);
            background-position: center center;
            background-size: 50% auto;
            background-repeat: no-repeat;
        }

    .modal-dialog.modal-fullscreen .modal-body {
    }
    ul.airports{
        display: block;
        margin: 55px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        list-style: none;

    }
        /*ul.airports:first-child {
            margin-top: 55px;
        }*/
    ul.airports li {
            padding: 5px 10px;
            font-size: 11pt;
            font-weight: normal;
            color: #333;
            line-height: 1em;
            border-top: 1px solid #e0e0e0;
        }
        ul.airports li.groupName {
            background-color: #f0f0f0;
            padding: 10px 10px;
        }
            ul.airports li:hover {
                background-color: #f0f0f0;
            }
            ul.airports li > span {
                font-size: 8pt;
                color: #666;
            }
/*Date picker*/
div[uib-datepicker-popup-wrap]{
    width: 0px;
    height: 0px;
    position: fixed;
    z-index: 999;
}
    div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup {
        position: fixed;
        top: 45px !important;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #fff;
        list-style: none;
        margin: 0px;
        padding: 10px;
    }
        div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup button{
            border: none;
            background: none;
            font-size: 10pt;
            outline: none;
        }
            div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup button:active {
                border: none;
            }
            div [uib-datepicker-popup-wrap] ul.uib-datepicker-popup button.uib-left, div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup button.uib-right {
                color: transparent;
                width: 24px;
                height: 24px;
                padding: 0px;
                border: none;
                background-image: url(../img/chevron-sprite.png);
                background-position: 0px 0px;
                background-size: 90px auto;
            }
            div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup button.uib-right {
                background-position: -20px 0px;
            }
        div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table{
            border-collapse: collapse;
            display: table;
            width: 100%;
            outline: none;
        }
        div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr td {
            margin: 0px;
            border-bottom: 1px solid #e0e0e0;
            padding: 10px 10px;
            font-size: 8pt;
        }
            div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr td button {
                margin: 0px;
                padding: 0px;
            }
                div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr td button span {
                    font-size: 10pt;
                    font-weight: 300;
                }
                div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr td button span.text-info{
                    color: #0F91D2;
                    font-weight: normal;
                }
                div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr td button[disabled] span {
                    font-size: 10pt;
                    font-weight: 300;
                    color: #e0e0e0;
                }
            div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr:nth-child(2) th {
                font-size: 12pt;
                font-weight: 300;
                padding-top: 20px;
            }
                div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup table tr:nth-child(2) th small {
                    font-size: 12pt;
                    font-weight: 300;
                }
        div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup button.active {
            background-color: #0F91D2;
            padding: 2px;
            color: #fff;
        }
            div[uib-datepicker-popup-wrap] ul.uib-datepicker-popup button.active span.text-info {
                color: #fff;
            }
            /*Switch*/
            .switch {
    padding: 0px 0px;
    display: inline-block;
    background: none;
    height: 24px;
    width: 72px;
    border-radius: 12px;
    float: right;
    position: relative;
    margin-top: -2px;
}

    .switch > input {
        visibility: hidden;
        display: none;
        outline: none;
    }

    .switch > label {
        display: block;
        position: relative;
        cursor: pointer;
        transition: all 300ms ease;
        padding: 0px;
        background-color: #0F91D2;
        width: 72px;
        height: 24px;
        border-radius: 12px;
        color: #fff;
    }

        .switch > label:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #fff;
            top: 4px;
            right: 4px;
            box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
            transition: all 200ms linear;
            border-radius: 8px;
            color: #fff;
        }
    .switch > input[type=checkbox]:not(:checked) + label {
        background-color: #e0e0e0;
        color: #888888;
    }
    .switch > input[type=checkbox]:not(:checked) + label:before {
        right: 4px;
    }

    .switch > input[type=checkbox]:checked + label:before {
        right: 52px;
    }

    .switch > label > span {
        color: inherit;
        font-size: 8pt;
        line-height: 24px;
    }

        .switch > label > span:nth-child(1) {
            float: right;
            padding-right: 12px;
        }

        .switch > label > span:nth-child(2) {
            float: left;
            padding-left: 12px;
        }
/*Số hành khách*/
.soHanhKhach{
    width: 100%;
    padding-top: 5px;
}
.soHanhKhach .input-group{
    width: 30%;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.soHanhKhach .nguoilon{
    width: 32% !important;
}
    .soHanhKhach .input-group label {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
        .soHanhKhach .input-group label img {
            height: 80%;
            margin-top: 3px;
        }
    .soHanhKhach .input-group input {
        display: inline-block;
        height: 24px;
        font-size: 12pt;
        line-height: 24px;
        width: 36px;
        vertical-align: middle;
        border: 1px solid #e0e0e0;
        text-align: center;
        margin: 0px;
        padding: 0px;
        outline: none;
    }
.mBookingForm .mFlightsearchBtn{
    display: block;
    width: 100%;
    background-color: #F86D00;
    color: #fff;
    font-size: 12pt;
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px;
}
    .mBookingForm .mFlightsearchBtn:hover {
        background-color: #fff;
        color: rgba(249,123,12,1);
        border: 1px solid rgba(249,123,12,1);
    }
    /*Services*/
    .mServices {
    padding: 15px;
    padding-top: 0px;
    position: relative;
}
    .mServices h3 {
        text-align: center;
        margin: 0px;
        padding: 0px;
        font-size: 12pt;
        font-weight: 600;
        color:  #666;
        margin-bottom: 15px;
    }
    .mServices ul {
        list-style: none;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
        .mServices ul li {
            width: 100%;
            display: block;
        }
        .mServices ul li h4{
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 10pt;
            color: #0F91D2;
        }
        .mServices ul li p{
            font-size: 9pt;
            padding-left: 10vw;
            padding-right: 10vw;
        }
    .mServices .slick-slide {
        height: auto;
    }
    .mServices .slick-slide img {
        display: inline;
        max-width: 100px;
    }
    .mServices .slick-next.slick-arrow, .mServices .slick-prev.slick-arrow {
        background-image: url(../img/chevron-sprite.png);
        left: 0px;
        background-size: 96px auto;
        background-repeat: no-repeat;
        background-position: 4px -2px;
        z-index: 2;
        color: transparent;
        width: 32px;
    }
    .mServices .slick-next.slick-arrow:before, .mServices .slick-prev.slick-arrow:before {
        color: transparent;
    }
    .mServices .slick-next.slick-arrow {
        left: auto;
        right: 0px;
        background-position: -18px -2px;
    }
/*Subscribe*/
.mSubscribe {
    padding: 15px;
    background-color: #F5F5F5;
}
    .mSubscribe table img {
        max-width: 100%;
        display: block;
        margin: 0px auto;
        margin-bottom: 15px;
    }
.subcribeForm{
    margin: 0px;
    padding: 0px;
}
.subcribeForm fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
}
        .subcribeForm fieldset p {
            font-size: 9pt;
            text-align: center;
        }
        .subcribeForm fieldset p >a {
            font-size: 9pt;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            color: #0F91D2;
        }
    .subcribeForm fieldset legend {
        width: 100%;
        padding: 10px;
        background-color: #0F91D2;
        color: #fff;
        text-align: center;
        font-size: 12pt;
        font-weight: normal;
        font-style: normal;
    }

    .subcribeForm fieldset .subcribe-email {
        position: relative;
        background-image: url(../../img/envelope.png);
        background-position: 10px center;
        background-repeat: no-repeat;
        background-size: auto 24px;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 5px;
        border: 1px solid #e0e0e0;
        font-size: 12pt;
    }

    .subcribeForm fieldset input[type=email] {
        width: 100%;
        padding: 10px;
        background: none;
        border: none;
        padding-left: 50px;
    }

        .subcribeForm fieldset button {
            background-color: rgba(249,123,12,1);
            width: 100%;
            padding: 10px;
            color: #fff;
            text-align: center;
            font-size: 12pt;
            font-weight: normal;
            font-style: normal;
            outline: none;
            border: none;
        }
            .subcribeForm fieldset button:hover {
                /*background-color: rgba(249,123,12,0.8);*/
                background-color: #fff;
                color: rgba(249,123,12,1);
                border: 1px solid rgba(249,123,12,1);
                opacity: 1.0;
                z-index: 2;
            }
/*mFlights*/
.mFlights {
    padding: 15px;
    padding-top: 0px;
}
    .mFlights h3 {
        font-size: 12pt;
        font-weight: 500;
        color: #0F91D2;
        text-align: center;
        margin-bottom: 5px;
    }
    .mFlights ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
        .mFlights ul li {
            display: inline-block;
            vertical-align: top;
            padding-left: 5px;
            padding-right: 5px;
        }
        .mFlights a {
        display: inline-block;
        text-align: left;
        font-size: 8pt;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        color: #666666;
        text-decoration: none;
    }

        .mFlights a:hover {
            text-decoration: none;
            color: #BA0403;
        }

        .mFlights a .dot {
            display: inline-block;
            vertical-align: middle;
            width: 6px;
            height: 6px;
            position: relative;
            z-index: 1;
            background-color: #0F91D2;
            border-radius: 3px;
            margin-right: 5px;
        }

            .mFlights a .dot:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                top: -2px;
                left: -2px;
                background-color: rgba(15,145,210,0.2);
                border-radius: 4px;
                transition: all 500ms ease;
                opacity: 1;
            }

        .mFlights a:hover .dot:before {
            transform: scale(1.5);
            opacity: 0;
        }
/*mPartners*/
.mPartners{
    padding: 15px;
    padding-top: 0px;
}
    .mPartners h4 {
        font-size: 12pt;
        font-weight: 500;
        color: #0F91D2;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0px;
    }
.mPartners ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
} 
.mPartners .slick-slide {
    height: auto;
}
.logo-carousel {
    height: 48px;
    margin: 0px;
    padding-left: 0px;
}

    .logo-carousel li.slick-slide {
        text-align: center;
        margin-right: 15px;
    }

        .logo-carousel li.slick-slide:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 1px;
            height: 48px;
        }
        .logo-carousel li.slick-slide img {
            display: inline-block;
            vertical-align: middle;
            max-height: 48px;
        }
/*mFooter*/
.nFooter {
    padding: 15px;
    background-color: #0F91D2;
    font-size: 12pt;
    color: #fff;
}
    .nFooter img.footer-logo {
        max-width: 25vw;
    }
    .nFooter img.certificate {
        width: 15vw;
    }
.nFooter table{

}
    .nFooter table td{
        font-size: 8pt;
        color: #fff;
    }
        .nFooter table td span {
            font-size: 8pt;
        }
        .nFooter table td strong {
            font-size: 10pt;
        }
    .nFooter .copyright{
        text-align: left;
        font-size: 10pt;
        margin-top: 10px;
    }
    /*chọn số hành khách*/
.modal-body .input-group{
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 0px;
}
.modal-header h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.modal-body .input-group .numericUpDown {
    position: relative;
    text-align: center;
}
        .modal-body .input-group .numericUpDown .inner {
            text-align: left;
            display: inline-block;
            vertical-align: middle;
            line-height: 1em;
            min-width: 100px;
        }
        .modal-body .input-group .numericUpDown .inner .icon{
            height: 24px;
            width: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
            .modal-body .input-group .numericUpDown .inner .label {
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                font-weight: 300;
                font-size: 14pt;
                line-height: 1.1em;
            }
                .modal-body .input-group .numericUpDown .inner .label small {
                    font-size: 10pt;
                    font-weight: 300;
                }
        .numericUpDown .subtract, .numericUpDown .add {
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            background-color: #0F91D2;
            background-position: center center;
            background-size: 50%;
            background-repeat: no-repeat;
            border-radius: 12px;
        }
        .numericUpDown .subtract {
            background-image: url(../img/substract.png);
            margin-right: 15px;
        }
        .numericUpDown .add {
            background-image: url(../img/add.png);
            margin-left: 15px;
        }
.modalButtons{
    text-align: center;
    padding: 10px;
}
.modalButtons button.modalOK {
    font-size: 10pt;
    color: #fff;
    border: none;
    outline: none;
    background-color: #0F91D2;
    padding: 10px;
    width: 100%;
}
/*steps timeline*/
.step-container {
    margin-top: 48px;
    padding: 10px;
    padding-right: 45px;
    padding-left: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .step-container .step-container-inner {
        position: relative;
        margin-bottom: 15px;
    }

        .step-container .step-container-inner .step {
            display: inline-block;
            vertical-align: middle;
            margin: 0px;
            width: 25%;
            position: relative;
            height: 24px;
        }
            .step-container .step-container-inner .step a.step-number {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #CECECE;
                line-height: 20px;
                border-radius: 10px;
                left: 0px;
                top: 6px;
                font-weight: bold;
                font-size: 8pt;
                color: #fff;
                z-index: 2;
                text-decoration: none;
                text-align: center;
            }
                .step-container .step-container-inner .step a.step-number span {
                    position: absolute;
                    width: 72px;
                    left: -27px;
                    color: #666666;
                    font-size: 7pt;
                    font-weight: normal;
                    text-align: center;
                    top: 25px;
                }

                .step-container .step-container-inner .step a.step-number:last-child {
                    left: auto;
                    right: -20px;
                }

            .step-container .step-container-inner .step .step-line {
                position: absolute;
                height: 3px;
                background-color: #CECECE;
                left: 0px;
                width: 100%;
                top: 15px;
                z-index: 1;
            }

            .step-container .step-container-inner .step.passed a.step-number{
                background-color: #0F91D2;
            }
            .step-container .step-container-inner .step.current a.step-number {
                background-color: #BA0403;
            }
            .step-container .step-container-inner .step.passed .step-line {
                background-color: #0F91D2;
                text-align: center;
            }

            .step-container .step-container-inner .step.current .step-line:before {
                display: inline-block;
                position: absolute;
                content: "";
                vertical-align: middle;
                width: 36px;
                height: 12px;
                left: 50%;
                margin-left: -8px;
                margin-top: -4px;
                background-image: url(../img/3planes.png);
                background-position: center center;
                background-size: auto 100%;
                background-repeat: no-repeat;
            }

            .step-container .step-container-inner .step.passed a.step-number span{
                color: #0F91D2;
            }
            .step-container .step-container-inner .step.current a.step-number span {
                color: #BA0403;
            }
.flight-overview-container {
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 15px;
    flex: 2;
    display: flex;
}

.flight-overview {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    color: #666666;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
}

    .flight-overview.selected {
        background-color: #f7f7f7;
        border: 1px solid #0F91D2;
        /*background-image: url(../img/checked.png);
        background-position: right top;
        background-size: auto 24px;
        background-repeat: no-repeat;*/
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
        z-index: 2;
    }

    .flight-overview h4 {
        font-size: 8pt;
        font-weight: bold;
        margin: 0px;
    }

    .flight-overview h5 {
        font-weight: normal;
        margin-bottom: 3px;
        margin: 0px;
        font-size: 8pt;
    }

    .flight-overview h6 {
        font-size: 7pt;
        padding-top: 0px;
        margin: 0px;
    }
    /*Chọn ngày bay*/
.ChonNgayBayContainer {
    position: relative;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.ChonNgayBay {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    .ChonNgayBay li {
        display: inline-block;
        vertical-align: middle;
        width: 33.333%;
        padding: 2px;
        text-align: center;
        border: 1px solid #e0e0e0;
        cursor: pointer;
        font-size: 10pt;
    }

        .ChonNgayBay li.selected {
            background-color: #e0e0e0;
        }

        .ChonNgayBay li h6 {
            margin-top: 0px;
            font-size: 10px;
            margin: 0px;
        }

        .ChonNgayBay li strong {
            color: #BA0403;
            font-size: 8pt;
            font-weight: 600;
        }

.ChonNgayBayContainer a.nav-left, .ChonNgayBayContainer a.nav-right {
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(../img/chevrons.png);
    background-position: 0px 0px;
    background-size: auto 80%;
    background-repeat: no-repeat;
    left: 5px;
    top: 50%;
    margin-top: -4px;
}

.ChonNgayBayContainer a.nav-right {
    left: auto;
    right: 5px;
    background-position: -15px 0px;
}

.FlightFilterHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}

.FlightFilterHeader h4 {
    padding: 0px 0px 5px 10px;
    margin: 0px;
    border-bottom: 2px solid #0F91D2;
    font-size: 10pt;
    color: #666;
}
    .FlightFilterHeader h4 span{
        font-size: 10pt;
        font-weight: 600;
        padding-right: 10px;
        margin-right: 5px;
        cursor: pointer;
    }
        .FlightFilterHeader h4 span:active {
            color: #0F91D2;
        }
        .FlightFilterHeader h4 span:not(:last-child) {
        border-right: 1px solid #e0e0e0;
    }
        .FlightFilterHeader button {
    float: right;
    text-align: right;
    width: 90px;
    height: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    outline: none;
    padding-left: 0px;
    padding-right: 10px;
    font-size: 8pt;
    line-height: 20px;
    margin-top: -24px;
    background-image: url(../img/refresh-round-symbol.png);
    background-size: 12px;
    background-position: 5px center;
    background-repeat: no-repeat;
    font-weight: 600;
}

.FlightFilterBody {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .FlightFilterBody table{
        padding: 0px;
        margin: 0px;
        border-spacing: 0px;
    }
    .FlightFilterBody table td {
        position: relative;
        text-align: center;
        padding: 0px;
    }
        .FlightFilterBody table td h6 {
            font-size: 8pt;
            font-weight: 600;
            margin: 0px;
            padding: 5px 10px;
            padding-bottom: 5px;
            text-align: left;
            background-color: #e0e0e0;
        }

        .FlightFilterBody table td span {
            font-size: 10pt;
            font-weight: 600;
            color: #BA0403;
        }

        .FlightFilterBody table td .TooltipForm {
            position: relative;
            width: 100%;
            padding: 5px 10px;
            outline: none;
            font-size: 10pt;
        }

            .FlightFilterBody table td .TooltipForm.from-right:before {
                left: auto;
                right: -7px;
            }

            .FlightFilterBody table td .TooltipForm ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

                .FlightFilterBody table td .TooltipForm ul li {
                    text-align: left;
                    color: #666666;
                    padding: 5px;
                    line-height: 9pt;
                    font-size: 10pt;
                }

                    .FlightFilterBody table td .TooltipForm ul li:hover {
                        background-color: #efefef;
                    }

                    .FlightFilterBody table td .TooltipForm ul li:before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 10px;
                        height: 10px;
                        border: 1px solid #666666;
                        border-radius: 3px;
                        margin-right: 5px;
                        margin-top: -3px;
                    }

                    .FlightFilterBody table td .TooltipForm ul li.selected {
                        color: #BA0403;
                    }

                        .FlightFilterBody table td .TooltipForm ul li.selected:before {
                            background-color: #BA0403;
                            border-color: #BA0403;
                        }

.TooltipForm .rzslider {
    margin: 32px 0px 20px 0;
}

    .TooltipForm .rzslider .rz-pointer {
        width: 16px;
        height: 16px;
        top: -6px;
        outline: none;
        background-color: #0F91D2;
    }

        .TooltipForm .rzslider .rz-pointer:after {
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }

    .TooltipForm .rzslider .rz-selection {
        background-color: #0F91D2;
    }

.TooltipForm .TooltipButton {
    font-size: 10pt;
    margin: 0px;
    padding: 2px 10px;
    background-color: #0F91D2;
    border: none;
    outline: none;
    color: #fff;
    margin-bottom: 5px;
    border: 1px solid #0F91D2;
}

    .TooltipForm .TooltipButton:active {
        border: 1px solid #0F91D2;
        background-color: #fff;
        color: #0F91D2;
    }
.SelectHangBayLogo{
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.FlightSorter{
    border-spacing: 0px;
    width: 100%;
}
.FlightSorter td{
    padding: 8px 10px;
    font-size: 10pt;
    border-bottom: 1px solid #e0e0e0;
}
    .FlightSorter tr td:nth-child(2) {
        text-align: right;
    }
        .FlightSorter tr td:nth-child(2) span {
            font-size: 10pt;
            font-weight: 600;
            color: #0F91D2;
        }
.Flight {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.FlightOverview {
    border-spacing: 0px;
    font-size: 10pt;
    width: 100%;
}
    .FlightOverview img {
        height: 14px;
    }
    .FlightOverview td {
        font-size: 8pt;
        text-align: center;
        padding: 2px 2px;
    }
        .FlightOverview td span.GiaVe {
            font-size: 8pt;
            font-weight: 600;
            color: #BA0403;
        }
        .FlightOverview td span.details-link{
            font-size: 8pt;
            font-weight: 600;
            color: #0F91D2;
        }
.FlightSelectBtn {
    padding: 2px 10px;
    font-size: 8pt;
    background-color: rgba(249,123,12,1);
    border: 1px solid rgba(249,123,12,1);
    color: #fff;
    outline: none;
}

    .FlightSelectBtn:active {
        background-color: #fff;
        color: rgba(249,123,12,1);
    }
.FlightDetails1{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #e0e0e0;
}
.FlightDetails1 td{
    font-size: 8pt;
    padding: 10px;
    text-align: center;
}
    .FlightDetails1 td img {
        height: 16px;
    }
.FlightDetails2Container{
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}
.FlightDetails2 {
    width: 100%;
}
.FlightDetails2 td {
    font-size: 10pt;
    text-align: center;
}
.FlightTimeDetailsContainer {
    padding-left: 12px;
}
.FlightTimeDetails {
    width: 100%;
}
.FlightTimeDetails td {
    font-size: 8pt;
    text-align: center;
}
    .FlightTimeDetails td strong {
        font-size: 9pt;
        font-weight: 600;
    }
.FlightTimeDetailsContainer > .timeline {
    display: block;
    position: relative;
    float: left;
    height: 30px;
    width: 2px;
    background-color: #0F91D2;
    left: 0px;
    padding: 0px;
    margin-left: -10px;
    margin-top: 21px;
    margin-right: 5px;
}

    .FlightTimeDetailsContainer > .timeline:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #0F91D2;
        transform: rotate(45deg);
        top: -7px;
        left: -3px;
    }

    .FlightTimeDetailsContainer > .timeline:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #0F91D2;
        transform: rotate(45deg);
        bottom: -7px;
        left: -3px;
    }
.QuickPriceContainer{
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
} 
.QuickPrice {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}
    .QuickPrice tbody{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .QuickPrice th {
        text-align: center;
        font-weight: 600;
        font-size: 8pt;
        padding: 0px;
    }

    .QuickPrice td {
        padding-bottom: 0px;
        font-size: 8pt;
        text-align: right;
    }

        .QuickPrice td strong {
            color: #BA0403;
            font-size: 8pt;
            font-weight: 600;
        }
.dl-horizontal {
    margin-bottom: 15px;
    padding-bottom: 0px;
}

    .dl-horizontal:last-child {
        margin-bottom: 0px;
    }

    .dl-horizontal dt {
        font-weight: normal;
        text-align: left;
        font-size: 8pt;
        width: 100px;
        float: left;
        white-space: normal;

    }
        .dl-horizontal dt.title {
            display: block;
            font-size: 10pt;
            font-weight: 600;
            width: 100%;
        }
            .dl-horizontal dt.title strong {
                font-size: 10pt;
                font-weight: 600;
            }
    .dl-horizontal dd {
        font-size: 8pt;
        display: block;
        margin-left: 110px;
    }
        .dl-horizontal:after{
            content: '';
            display: block;
            clear: both;
        }
.SelectedFlightContainer{
    position: relative;
    /*bottom: 0px;
    left: 0px;
    right: 0px;*/
    height: auto;
    background-color: #f0f0f0;
    z-index: 9;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    transition: all 500ms ease;
    z-index: 100000 !important;
}
    .SelectedFlightContainer.static {
        position: static;
        box-shadow: none;
        margin-top: 15px;
        border-top: 1px solid #e0e0e0;
    }
    .SelectedFlightContainer.closed {
        /*bottom: -150px;*/
    }
    .SelectedFlightContainer .close {
        position: absolute;
        top: -32px;
        right: 0px;
        height: 32px;
        width: 32px;
        background-color: #f0f0f0;
        border: none;
        box-shadow: -1px -3px 3px 0px rgba(0,0,0,0.2);
        background-image: url(../img/chevron-sprite.png);
        background-position: -64px -32px;
        background-repeat: no-repeat;
        background-size: auto 64px;
        outline: none;
    }

    .SelectedFlightContainer.closed .close {
        background-position: -64px 0px;
    }
    .SelectedFlightContainer .SelectedFlight {
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
        position: relative;
    }
            .SelectedFlightContainer .SelectedFlight .logo {
            height: 24px;
            float: right;
            top: 40px;
            right: 10px;
            margin-right: 0px;
            position: absolute;
        }
    .SelectedFlightContainer.static .SelectedFlight .logo{
        top: 10px;
    }
    .SelectedFlightContainer.static .SelectedFlight .price {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        font-weight: bold;
        font-size: 10pt;
        color: #BA0403;
        right: 10px;
        top: 40px;

    }
    .SelectedFlightContainer .SelectedFlight h4 {
        font-size: 10pt;
        font-weight: 600;
        color: #0F91D2;
        margin: 0px;
        margin-bottom: 5px;
    }
        .SelectedFlightContainer .SelectedFlight h5 {
            font-size: 9pt;
            font-weight: 600;
            margin: 0px;
            color: #666666;
        }
        .SelectedFlightContainer .SelectedFlight h6 {
            font-size: 9pt;
            margin: 0px;
            color: #888888;
        }
button.ChangeFlight {
    float: right;
    font-size: 8pt;
    height: 20px;
    line-height: 10px;
    padding-left: 20px;
    background-color: #0F91D2;
    border: 1px solid #0F91D2;
    outline: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../img/refresh-round-symbol-white.png);
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 5px center;
}

    button.ChangeFlight:active {
        background-image: url(../img/refresh-round-symbol.png);
        color: #0F91D2;
        border: 1px solid #0F91D2;
        background-color: #fff;
    }

button.next-step {
    float: right;
    font-size: 10pt;
    height: 32px;
    line-height: 24px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgba(249,123,12,1);
    border: 1px solid rgba(249,123,12,1);
    outline: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

    button.next-step:active {
        color: rgba(249,123,12,1);
        border: 1px solid rgba(249,123,12,1);
        background-color: #fff;
    }

/*Step form*/
/*Step form*/
.step-form-container {
}

.step-form {
    padding: 15px 15px 0px 15px;
}

    .step-form .form-header {
        font-size: 10pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: #0F91D2;
        margin-bottom: 0px;
    }

    .step-form .input-group {
        width: 100%;
        margin-top: 10px;
        position: relative;
    }

        .step-form .input-group label {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: block;
            font-size: 10pt;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .step-form .input-group input[type='text'], .step-form .input-group input[type='email'], .step-form .input-group textarea {
            display: block;
            width: 100%;
            height: 36px;
            line-height: 32px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 10pt;
            line-height: 20px;
            padding-left: 10px;
            outline: none;
            border: 1px solid #e0e0e0;
        }
        .step-form .input-group textarea {
            height: 72px;
        }

            .step-form .input-group input[type='text']:focus {
                border: 1px solid #0F91D2;
            }

        .step-form .input-group .phone-number {
            display: block;
            width: 100%;
            padding-left: 55px;
        }

            .step-form .input-group .phone-number .head {
                width: 50px;
                float: left;
                margin-left: -55px;
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
            }

            .step-form .input-group .phone-number .body {
            }

            .step-form .input-group .phone-number .selectize-control.head {
                padding: 0px;
                position: static;
            }

            .step-form .input-group .phone-number .selectize-input.items {
                height: 36px;
            }

            .step-form .input-group .phone-number .selectize-dropdown.head {
                float: none;
                position: absolute;
                margin-left: 0px;
                width: 200px !important;
                padding: 0px;
            }

            .step-form .input-group .phone-number .selectize-control.single .selectize-input:after {
                display: none;
            }
.step-form-submit {
    text-align: right;
}

    .step-form-submit button {
        background-color: rgba(249,123,12,1);
        color: #fff;
        height: 32px;
        width: 128px;
        font-size: 12pt;
        line-height: normal;
        border: 1px solid rgba(249,123,12,1);
        outline: none;
    }

        .step-form-submit button:active {
            color: rgba(249,123,12,1);
            background-color: #fff;
        }

.next-step.top.yellow {
    margin-top: 0px;
    float: none;
    background-color: rgba(249,123,12,1);
    border-color: rgba(249,123,12,1);
}

    .next-step.top.yellow:active {
        background-color: #fff;
        color: rgba(249,123,12,1);
    }
.step-form .conditions p{
    font-size: 10pt;
    color: #666666;
}
.step-form .conditions h5{
    font-size: 10pt;
}
.step-form table th {
    font-size: 10pt;
    color: #666666;
    font-weight: bold;
    text-align: left;
}
.step-form table td{
    font-size: 10pt;
    color: #666666;
}
.step-form fieldset {
    margin-top: 15px;
    border: 1px solid #0F91D2;
}

    .step-form fieldset legend {
        font-size: 12pt;
        font-weight: 600;
        color: #0F91D2;
        padding-bottom: 5px;
        margin-bottom: 0px;
        border-color: #0F91D2;
    }
.input-group.inline {
    padding-left: 110px;
}

    .input-group.inline label {
        float: left;
        display: inline;
        margin-left: -110px;
        line-height: 36px;
    }
    hr{
        border: none;
        border-top: 1px solid #e0e0e0;
        outline: none;
    }

.FlightDetailsPanel {
    margin-top: 15px;
    border-radius: 0px;
    margin-bottom: 0px;
}

    .FlightDetailsPanel .panel-heading {
        padding: 15px;
        padding-bottom: 0px;
    }

        .FlightDetailsPanel .panel-heading h4 {
            color: #0F91D2;
            margin: 0px;
            font-size: 10pt;
            font-weight: 600;
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: 1px solid #0F91D2;
            padding-bottom: 10px;
        }

            .FlightDetailsPanel .panel-heading h4 small {
                font-size: 10pt;
            }

        .FlightDetailsPanel .panel-heading h5 {
            margin-bottom: 0px;
            margin-top: 10px;
        }

        .FlightDetailsPanel .panel-heading h6 {
            color: #666666;
            font-size: 10pt;
            margin-top: 0px;
            margin-bottom: 0px;
        }

    .FlightDetailsPanel .panel-body {
        padding: 15px;
    }
dl .total {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 10pt;
    font-size: 10pt;
    margin: 0px;
}

    dl.total dt {
        width: 160px;
        font-weight: 600;
        line-height: 15pt;
    }

    dl.total dd {
        line-height: 15pt;
        font-size: 10pt;
        color: #BA0403;
        text-align: right;
        font-weight: bold;
    }
.options {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
    .options li {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        border-bottom: 1px solid #e0e0e0;
        color: #444444;
    }
    .options.country-phone-codes li {
        padding-left: 53px;
    }
        .options.country-phone-codes li span.code {
            float: left;
            width: 48px;
            margin-left: -48px;
            color: #666666;
        }

.SelectedFlightDetailsBody .LogoHangBay {
    max-height: 24px;
}

.SelectedFlightDetailsBody {
    font-size: 8pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-bottom: 10px;
}
    .SelectedFlightDetailsBody td {
        font-size: 8pt;
        text-align: center;
        padding-right: 5px;
    }
    .SelectedFlightDetailsBody > tr:nth-child(1) > td {
        padding-top: 10px;
    }

    .SelectedFlightDetailsBody > tr:last-child > td {
        padding-bottom: 10px;
    }
        .SelectedFlightDetailsBody td table {
            margin: 0px;
            padding: 0px;
        }

            .SelectedFlightDetailsBody td table td {
                text-align: center;
            }

td > .timeline {
    display: block;
    position: relative;
    float: left;
    height: 40px;
    width: 2px;
    background-color: #0F91D2;
    left: 0px;
    padding: 0px;
    margin-left: -8px;
    margin-top: 16px;
    margin-right: 5px;
}

    td > .timeline:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #0F91D2;
        transform: rotate(45deg);
        top: -7px;
        left: -3px;
    }

    td > .timeline:after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #0F91D2;
        transform: rotate(45deg);
        bottom: -7px;
        left: -3px;
    }

.SelectedFlightDetailsQuickPrice {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

    .SelectedFlightDetailsQuickPrice th {
        font-weight: 600;
        font-size: 8pt;
    }
    .SelectedFlightDetailsQuickPrice tr th:nth-child(1), .SelectedFlightDetailsQuickPrice tr th:nth-child(2){
        text-align: left;
    }
    .SelectedFlightDetailsQuickPrice td {
        font-weight: 600;
        font-size: 8pt;
    }

    .SelectedFlightDetailsQuickPrice td strong {
        color: #BA0403;
        font-size: 10pt;
        font-weight: 600;
    }

.customer-info-list:not(:last-child) {
    margin-bottom: 15px;
}

.customer-group {
    padding-left: 15px;
}

.customer-group-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.customer {
    padding-left: 20px;
    margin-bottom: 10px;
}

    .customer .number {
        float: left;
        margin-left: -20px;
        margin-top: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    .customer dl {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0px;
        border-left: 1px solid #e0e0e0;
        padding-left: 10px;
    }

dl.dl-horizontal.thong-tin-giao-dich {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dl-horizontal.thong-tin-giao-dich dt {
    width: 160px;
    float: left;
}

dl.dl-horizontal.thong-tin-giao-dich dd {
    width: 180px;
    text-align: right;
}

.banks {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

    .banks li {
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        margin: 5px;
        padding: 10px 5px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }

        .banks li img {
            height: 100%;
            width: auto;
            display: block;
        }

        .banks li.selected {
            border-bottom: 2px solid #0F91D2;
        }

.finish-step {
    text-align: center;
}

    .finish-step > img {
        margin-top: 30px;
        margin-bottom: 20px;
        max-width: 60%;
    }


.breadcrumb {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    /*border-bottom: 1px solid #0F91D2 ;*/
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

    .breadcrumb li {
        font-size: 13pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        display: inline-block;
    }

        .breadcrumb li a {
            text-decoration: none;
            color: #1BA0E2;
        }

    .breadcrumb > li + li:before {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-top: -2px;
        margin-right: 2px;
        vertical-align: middle;
        background-image: url(../../img/right-thin-chevron.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

.promotions-container {
    padding-left: 10px;
    padding-right: 10px;
}

    .promotions-container .promotion {
        border-top: 1px solid #e0e0e0;
        padding-top: 10px;
        margin-bottom: 10px;
    }

        .promotions-container .promotion a {
            text-decoration: none;
        }

            .promotions-container .promotion a.title {
                text-decoration: none;
                font-size: 10pt;
                font-weight: 600;
                line-height: 1.2em;
                text-align: justify;
                color: #0F91D2;
            }
            .promotions-container .promotion a.image {
                text-decoration: none;
                display: inline-block;
                float: left;
                margin-right: 10px;
                width: 100px;
                height: 100px;
                vertical-align: text-top;
                line-height: 1em;
            }
                .promotions-container .promotion a.image img {
                    width: 100px;
                    height: 100px;
                    background-color: #0F91D2;
                }

        .promotions-container .promotion p {
            margin-top: 0px;
            padding-top: 5px;
            font-size: 8pt;
            text-align: justify;
            color: #666666;
        }

        .promotions-container .promotion::after {
            content: '';
            display: block;
            clear: left;
        }

.pagination {
    text-align: center;
    width: 100%;
    padding: 10px;
}

    .pagination li {
        display: inline-block;
        border-radius: 0px;
    }

        .pagination li a {
            text-decoration: none;
            color: #0F91D2;
            padding: 5px 10px;
            background-color: #f0f0f0;
        }

        .pagination li.active a {
            background-color: #0F91D2;
            color: #fff;
        }

    .pagination > li:first-child > a, .pagination > li:first-child > span {
        border-radius: 0px;
    }

    .pagination > li:last-child > a, .pagination > li:last-child > span {
        border-radius: 0px;
    }
    article{
        padding: 10px;
    }
.modal-header.fix-top {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

td.uib-day:last-child {
    /*background-color: #BA0403;*/
    color: #BA0403;
}
    td.uib-day:last-child button {
        color: #BA0403;
    }
        td.uib-day:last-child button span {
            color: #BA0403;
        }
.label-info.no-background{
    background-color: transparent !important;
    color: #0F91D2;
}

/*Accodion*/
/* Acordeon styles */
.accodion .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    transition: all 300ms linear;
}

    .accodion .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .accodion .tab label {
        position: relative;
        display: block;
        padding: 10px;
        background: #0f86c1;
        font-weight: 600;
        line-height: 1em;
        cursor: pointer;
    }

    .accodion .tab.blue label {
        background: #0F91D2;
    }

    .accodion .tab .tab-content {
        height: 0;
        overflow: hidden;
        background: #fff;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
        color: #444;
        border: 1px solid #0F91D2;
        transition: all 300ms linear;
    }

    .accodion .tab.blue .tab-content {
        background: #fff;
    }

    .accodion .tab .tab-content p {
        margin: 1em;
    }
    /* :checked */
    .accodion .tab input:checked ~ .tab-content {
        height: auto;
    }
    /* Icon */
    .accodion .tab label::after {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        width: 1em;
        height: 1em;
        line-height: 1em;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

    .accodion .tab input[type=checkbox] + label::after {
        content: "+";
    }

    .accodion .tab input[type=radio] + label::after {
        content: "\25BC";
    }

    .accodion .tab input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
    }

    .accodion .tab input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
    }
/*màn hình loading*/

#loading-full-screen {
    position: fixed;
    z-index: 10000;
    background-color: rgba(255,255,255,0.75);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

    #loading-full-screen > img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 120px;
        border-radius: 60px;
        margin-top: -60px;
        margin-left: -60px;
    }

    #loading-full-screen:before {
        content: "";
        position: absolute;
        width: 116px;
        height: 116px;
        top: 50%;
        left: 50%;
        margin-top: -58px;
        margin-left: -58px;
        border-radius: 50%;
        background: none;
        box-shadow: 0px 0px 30px 0px #ffffff;
    }

    #loading-full-screen::after {
        content: "Đang tải dữ liệu, xin vui lòng đợi...";
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: 70px;
        text-align: center;
        color: #0F91D2;
        display: block;
        font-size: 16px;
        font-weight: 600;
    }

.changbayhangdau{

}
.changbayhangdau li{
    width: 49%;
    text-align: left;
}
p img{
    max-width: 100%;
}