﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="card" ng-controller="AccountInfoController">
    <div class="card-header h6">
        Thông tin tài khoản
    </div>
    <div class="card-body">
        <form class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-ln">Họ và tên</label>
                    <input class="form-control" type="text" id="account-ln"
                           ng-model="accountInfo.firstName" required="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-email">E-mail</label>
                    <input class="form-control" type="email" id="account-email"
                           ng-model="accountInfo.email" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-phone">Điện thoại</label>
                    <input class="form-control" type="text" id="account-phone"
                           ng-model="accountInfo.phone" required="">
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="form-group">
                    <label for="account-pass">Mật khẩu</label>
                    <input class="form-control" type="password" ng-model="accountInfo.password" id="account-pass" disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="account-confirm-pass">Nhập lại mật khẩu</label>
                    <input class="form-control" type="password" ng-model="accountInfo.rePassword" id="account-confirm-pass" disabled>
                </div>
            </div>*@
            <div class="col-12">
                <hr class="mt-2 mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="custom-control custom-checkbox d-block">
                        @*<input class="custom-control-input" type="checkbox" id="hide_me" checked="">
                        <label class="custom-control-label" for="hide_me">Ẩn trang cá nhân</label>*@
                    </div>
                    <button class="btn btn-danger margin-right-none" type="button" data-toast=""
                            data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-circle-check"
                            data-toast-title="Success!" data-toast-message="Cập nhật thành công" ng-click="Save()">
                        Lưu thay đổi
                    </button>
                    <a id="open-modal-update-info-success" href="#" data-toggle="modal" data-target="#modal-update-info-success" hidden></a>
                    <a id="open-modal-update-info-error" href="#" data-toggle="modal" data-target="#modal-update-info-fail" hidden></a>
                </div>
            </div>
        </form>
    </div>
</div>

@*Cập nhật thông tin thành công*@
@*<script type="text/ng-template" id="completeOrder.html">*@
<div class="modal fade" id="modal-update-info-success" tabindex="-1" role="dialog" ng-controller="HomeController">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular green-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="checkmark green-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                    <path class="checkmark__check" fill="none" d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Cập nhật thông tin thành công.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                    @*<div class="col-6">
                        <button class="btn btn-danger btn-block" type="button" ng-click="GoHome()">Đặt tiếp</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@*</script>*@
@*Cập nhật không thành công*@
<div class="modal fade" id="modal-update-info-fail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content jinz-shadow">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 pt-5 pt-3 text-center position-relative">
                        <div class="svg-box">
                            <svg class="circular red-stroke">
                                <circle class="path" cx="75" cy="75" r="50" fill="none" stroke-width="5" stroke-miterlimit="10" />
                            </svg>
                            <svg class="cross red-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-502.652,-204.518)">
                                    <path class="first-line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                </g>
                                <g transform="matrix(-1.28587e-16,-0.79961,0.79961,-1.28587e-16,-204.752,543.031)">
                                    <path class="second-line" d="M634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </div>
                        <p>Cập nhật thông tin không thành công.</p>
                        <p>Vui lòng thử lại</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-outline-secondary btn-block" data-dismiss="modal">Đóng</a>
                    </div>
                    @*<div class="col-6">
                        <button class="btn btn-danger btn-block" type="button">Thử lại</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

