﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="card">
    <div class="card-header h6">
        Cập nhật sổ địa chỉ
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="border-top-0">Tên gợi nhớ</th>
                    <th scope="col" class="border-top-0">Địa chỉ</th>
                    <th scope="col" class="border-top-0">Điện thoại</th>
                    <th scope="col" class="border-top-0"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Thuy Trang</th>
                    <td>Cach Mang Thang 8</td>
                    <td>090xxxxxxx</td>
                    <td class="text-right">
                        <a href="#" class="text-blue pr-2">
                            <i class="icons icon-note"></i> Sua
                        </a>
                        <a href="#" class="text-danger">
                            <i class="icons icon-trash"></i> Xoa
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Trang</th>
                    <td>address</td>
                    <td>phone</td>
                    <td class="text-right">
                        <a href="#" class="text-blue pr-2">
                            <i class="icons icon-note"></i> Sua
                        </a>
                        <a href="#" class="text-danger">
                            <i class="icons icon-trash"></i> Xoa
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Trang</th>
                    <td>address</td>
                    <td>phone</td>
                    <td class="text-right">
                        <a href="#" class="text-blue pr-2">
                            <i class="icons icon-note"></i> Sua
                        </a>
                        <a href="#" class="text-danger">
                            <i class="icons icon-trash"></i> Xoa
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-12 text-right">
                <button class="btn btn-danger margin-right-none" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-circle-check" data-toast-title="Success!" data-toast-message="Cap nhat thanh cong.">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>

