﻿<!DOCTYPE html>
<html ng-app="authApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="chương trình tri ân dùng phân hoàn vốn">
    <meta name="keywords" content="chương trình tri ân dùng phân hoàn vốn">
    <meta name="author" content="Thiết kế bởi Huỳnh Công Trứ - 0932801527">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="3 days" />
    <title>Hệ thống đăng nhập</title>
    @Styles.Render("~/css-standard-library-auth")
    @Styles.Render("~/css-custom-auth")
    <base href="/">    
</head>
<body ng-controller="LoginCtrl as signin" style="padding-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" ng-include="'tpl/auth/login'">                
            </div>
        </div>
    </div>
    @Scripts.Render("~/angularjs-standard-library-auth")
    @Scripts.Render("~/js-application-auth")
</body>
</html>