﻿@*<script src='https://www.google.com/recaptcha/api.js'></script>*@
@*https://ciphertrick.com/2015/05/19/google-recaptcha-with-angularjs/*@
@*<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>*@
<div class="panel panel-main box_news box_shadow">
    <div class="panel-heading">
        <i class="fa fa-lock"></i> &nbsp; Đăng nhập vào hệ thống
    </div>
    <div class="panel-body">
        <form role="form" class="formPart form-auth">
            <div class="form-group">
                <label>Tên đăng nhập (<span class="required_star">*</span>)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw text-darkgreen" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" ng-model="signin.loginModel.username" required="" autofocus="">
                </div>
            </div>
            <div class="form-group">
                <label>Mã code (<span class="required_star">*</span>)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-qrcode text-darkgreen" aria-hidden="true"></i></span>
                    <input id="code" type="text" class="form-control" ng-model="signin.loginModel.code" required="">
                </div>
            </div>
            <div class="form-group">
                <label>Mật khẩu (<span class="required_star">*</span>)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw text-darkgreen" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" ng-model="signin.loginModel.password" required="">
                </div>
            </div>
            @*<div class="g-recaptcha" data-sitekey="6LfqUyAUAAAAACOYytk6iZzbtt-TmnyctdQEtZ4A"></div>*@
            
            @*<div vc-recaptcha
                 theme="'light'"
                 key="model.key"
                 on-create="setWidgetId(widgetId)"
                 on-success="setResponse(response)"
                 on-expire="cbExpiration()"></div>*@

            <div class="form-group text-center">
                <br>              
                <button type="submit" class="btn btn-success btn-block" 
                        @*ng-if="(response != null && response != '' && signin.loginModel.username != null && signin.loginModel.username != '' && signin.loginModel.code != null && signin.loginModel.code != '' && signin.loginModel.password != null && signin.loginModel.password != '') ? disabled=true: disabled=false"*@ 
                        ng-click="signin.signin()">
                    Đăng nhập
                </button>
                @*<br>
                <a href="#">Quên mật khẩu</a>*@
            </div>
            @*<div class="form-group text-center" style="color: green;" ng-if="(response != null && response != '' && signin.loginModel.username != null && signin.loginModel.username != '' && signin.loginModel.code != null && signin.loginModel.code != '' && signin.loginModel.password != null && signin.loginModel.password != '') ? disabled=false: disabled=true">
                <br>
                <button type="submit" class="btn btn-success btn-block" disabled>
                    Đăng nhập
                </button>
            </div>*@
        </form>
    </div>
</div>
