﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="offcanvas-wrapper" ng-controller="LoginController">
    <div class="body rounded">
        <form class="login-form" novalidate="novalidate">
            <p class="text-center p-0">
                <img class="logo d-none d-lg-block" src="~/Content/img/logo/logo.png">
            </p>
            <div class="strike my-2">
                <span class="font-weight-bold h5">Đăng nhập</span>{{test}}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success btn-block rounded py-1 position-relative pr-3 m-0">
                    <i class="icon-screen-smartphone icons pr-2"></i> Đăng nhập bằng số điện thoại
                </button>
                <button type="submit" class="btn facebook-btn btn-block rounded py-1 position-relative mt-2">
                    <i class="icon-social-facebook icons pr-2"></i> Đăng nhập bằng facebook
                </button>
            </div>
            <div class="strike my-2">
                <span>hoặc bằng email</span>
            </div>
            <div class="alert alert-danger d-none">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" ng-model="users.username" placeholder="Ten dang nhap hoac Email" name="username">
            </div>
            <div class="form-group mb-2">
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" ng-model="users.password" placeholder="Mat khau" name="password">
            </div>
            <div class="form-actions">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1"> Lưu đăng nhập
                    <span></span>
                </label>
                <a href="#" class="float-right text-blue text-underline" ng-click="LoginUser(users)">Quên mật khẩu</a>
            </div>
            <div class="form-actions">
                <button class="btn btn-danger btn-block rounded py-1" ng-click="LoginUser(users)"> Đăng nhập </button>
            </div>
            <div class="create-account">
                <p>
                    Chưa có tài khoản JinzFood ?&nbsp;
                    <a href="/register" class="font-weight-bold text-dark text-underline"> Đăng ký </a>
                </p>
            </div>
        </form>
    </div>
    <div class="app-body text-center">
        <p class="text-white">Chưa cài đặt App?</p>
        <p>
            <a class="market-button apple-button mb-light-skin " href="# ">
                <span class="mb-subtitle ">Download on the</span>
                <span class="mb-title ">App Store</span>
            </a>
            <a class="market-button google-button mb-light-skin " href="# ">
                <span class="mb-subtitle ">Download on the</span>
                <span class="mb-title ">Google Play</span>
            </a>
        </p>
    </div>
</div>