﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pb-3 bg-white container-tracking">
    <div class="row d-md-none text-center text-bold">
        <div class="col-md-12 py-2 bg-danger text-white m-0 h4">Theo doi don hang</div>
        <div class="col-md-12 py-2">Jinzfood Nguyen Van Troi</div>
    </div>
    <div class="row border rounded position-relative">
        <div class="col-md-3 p-0 position-relative">
            <img src="./img/tracking-map.png">
            <div class="tracking-time-circle d-sm-none">
                <div class="pt-2 content">
                    <p class="h2 m-0">25</p>
                    <p>MINS</p>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tracking-order-info d-none d-md-block">
                <div class="btn-cancel-order position-absolute">
                    <a href="#" title="Hủy đơn hàng" class="text-danger">
                        <i class="icons icon-trash text-danger"></i>
                        Hủy đơn hàng
                    </a>
                </div>
                <p class="pt-2">
                    <span class="text-bold">JinzFood Nguyễn Văn Trỗi</span> - 32 Nguyễn Văn Trỗi, P.4, Q. Tân Bình
                </p>
                <p>
                    Mã đặt hàng:
                    <span class="text-bold">9895535</span> - Individual
                </p>
                <p>
                    Giờ đặt:
                    <span class="text-bold">04/07/2018 12:22</span> - Giờ giao dự kiến:
                    <span class="text-bold">04/07/2018 13:15</span>
                </p>
                <p>
                    Tổng tiền:
                    <span class="text-bold">77,000 đ (2 món)</span> - Thanh toán tiền mặt
                </p>
            </div>
            <div class="tracking-order-status mt-2">
                <ol class="tracking-steps">
                    <li class="step active">
                        <div class="d-flex pt-1">
                            <div class="flex-fill">
                                <i class="icons icon-check"></i>
                                <span class="text">Submitted</span>
                            </div>
                            <div class="flex-fill d-block d-sm-none">
                                17:22
                            </div>
                            <div class="d-block d-sm-none">
                                <a href="#" class="text-blue">
                                    <i class="icons icon-notebook"></i> Chi tiet
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="step active">
                        <div class="d-flex pt-1">
                            <div class="flex-fill">
                                <i class="icons icon-check"></i>
                                <span class="text">Processing</span>
                            </div>
                            <div class="d-block d-sm-none">
                                <a href="#" class="text-blue pr-3" title="Chat với bộ phận hỗ trợ">
                                    <i class="icons icon-bubble"></i> Chat
                                </a>
                                <a href="tel:1900xxxx" class="text-blue" title="1900xxxx">
                                    <i class="icons icon-phone"></i> 1900xxxx
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="step active">
                        <div class="d-flex pt-1">
                            <div class="flex-fill">
                                <i class="icons icon-check"></i>
                                <span class="text">Confirmed</span>
                            </div>
                            <div class="flex-fill d-block d-sm-none">
                            </div>
                            <div class="d-block d-sm-none">
                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="d-flex pt-1">
                            <div class="flex-fill">
                                <i class="icons icon-check"></i>
                                <span class="text">Assigned</span>
                            </div>
                            <div class="flex-fill d-block d-sm-none">
                            </div>
                            <div class="d-block d-sm-none">
                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="d-flex pt-1">
                            <div class="flex-fill">
                                <i class="icons icon-check"></i>
                                <span class="text">Picked</span>
                            </div>
                            <div class="flex-fill d-block d-sm-none">
                            </div>
                            <div class="d-block d-sm-none">
                            </div>
                        </div>
                    </li>
                    <li class="step">
                        <div class="d-flex pt-1">
                            <div class="flex-fill">
                                <i class="icons icon-check"></i>
                                <span class="text">Completed</span>
                            </div>
                            <div class="flex-fill d-block d-sm-none">
                            </div>
                            <div class="d-block d-sm-none">
                            </div>
                        </div>
                    </li>
                </ol>
                <div class="tracking-info-steps d-none d-md-block">
                    <div class="step ">
                        <div class="arrow"></div>
                        <div class="highlight">
                            Don hang da duoc gui toi nha cung cap
                        </div>
                    </div>
                    <div class="step ">
                        <div class="arrow"></div>
                        <div class="highlight">
                            <b>Thai Nguyen Nguyen</b> đang xử lý đơn hàng! Vui lòng để chế độ điện thoại mở để nhân viên JinzFood liên
                            hệ với bạn!
                        </div>
                    </div>
                    <div class="step active">
                        <div class="arrow"></div>
                        <div class="highlight">
                            <b>Thai Nguyen Nguyen</b> đang xử lý đơn hàng! Vui lòng để chế độ điện thoại mở để nhân viên JinzFood liên
                            hệ với bạn!
                        </div>
                    </div>
                    <div class="step">
                        <div class="arrow"></div>
                        <div class="highlight">
                            <b>Thai Nguyen Nguyen</b> đang xử lý đơn hàng! Vui lòng để chế độ điện thoại mở để nhân viên JinzFood liên
                            hệ với bạn!
                        </div>
                    </div>
                    <div class="step">
                        <div class="arrow"></div>
                        <div class="highlight">
                            <b>Thai Nguyen Nguyen</b> đang xử lý đơn hàng! Vui lòng để chế độ điện thoại mở để nhân viên JinzFood liên
                            hệ với bạn!
                        </div>
                    </div>
                    <div class="step">
                        <div class="arrow"></div>
                        <div class="highlight">
                            <b>Thai Nguyen Nguyen</b> đang xử lý đơn hàng! Vui lòng để chế độ điện thoại mở để nhân viên JinzFood liên
                            hệ với bạn!
                        </div>
                    </div>
                </div>

                <div class="tracking-buttons d-flex mt-3">
                    <div class="p-2 flex-fill">
                        <a href="#" class="text-blue" title="Chi tiết don hang">
                            <i class="icons icon-notebook"></i> Chi tiết don hang
                        </a>
                    </div>
                    <div class="p-2 flex-fill">
                        <a href="#" class="text-blue" title="Chat với bộ phận hỗ trợ">
                            <i class="icons icon-bubble"></i> Chat với bộ phận hỗ trợ
                        </a>
                    </div>
                    <div class="p-2 flex-fill">
                        <a href="tel:1900xxxx" class="text-blue" title="1900xxxx">
                            <i class="icons icon-phone"></i> 1900xxxx
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 my-4 bg-white container-star-products">
    <h3 class="text-center mb-3 main-heading">
        <img src="~/Content/img/star.png">Sản Phẩm Nổi Bật
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel" data-owl-carousel="{ &quot;loop&quot;: true, &quot;nav&quot;: true, &quot;center&quot;:true, &quot;dots&quot;: false, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}}}">
                <!-- Product-->
                <div class="grid-item ">
                    <div class="product-card ">
                        <div class="product-badge text-danger ">1</div>
                        <a class="product-thumb " href="# ">
                            <img src="~/Content/img/products/01.jpg " alt="Product ">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="# ">Kem Cá Trà Xanh</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons "></i>&nbsp; 6
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            $155.00
                            <i class="icon-plus icons text-danger "></i>
                        </h4>
                    </div>
                </div>
                <!-- Product-->
                <div class="grid-item ">
                    <div class="product-card ">
                        <div class="product-badge text-danger ">2</div>
                        <a class="product-thumb " href="# ">
                            <img src="~/Content/img/products/02.jpg " alt="Product ">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="# ">Kem Cá Trà Xanh</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons "></i>&nbsp; 6
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            $155.00
                            <i class="icon-plus icons text-danger "></i>
                        </h4>
                    </div>
                </div>
                <!-- Product-->
                <div class="grid-item ">
                    <div class="product-card ">
                        <div class="product-badge text-danger ">3</div>
                        <a class="product-thumb " href="# ">
                            <img src="~/Content/img/products/03.jpg " alt="Product ">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="# ">Kem Cá Trà Xanh</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons "></i>&nbsp; 6
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            $155.00
                            <i class="icon-plus icons text-danger "></i>
                        </h4>
                    </div>
                </div>
                <!-- Product-->
                <div class="grid-item ">
                    <div class="product-card ">
                        <div class="product-badge text-danger ">4</div>
                        <a class="product-thumb " href="# ">
                            <img src="~/Content/img/products/04.jpg " alt="Product ">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="# ">Kem Cá Trà Xanh</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons "></i>&nbsp; 6
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            $155.00
                            <i class="icon-plus icons text-danger "></i>
                        </h4>
                    </div>
                </div>
                <!-- Product-->
                <div class="grid-item ">
                    <div class="product-card ">
                        <div class="product-badge text-danger ">5</div>
                        <a class="product-thumb " href="# ">
                            <img src="~/Content/img/products/05.jpg " alt="Product ">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="# ">Kem Cá Trà Xanh</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons "></i>&nbsp; 6
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            $155.00
                            <i class="icon-plus icons text-danger "></i>
                        </h4>
                    </div>
                </div>
                <!-- Product-->
                <div class="grid-item ">
                    <div class="product-card ">
                        <div class="product-badge text-danger ">6</div>
                        <a class="product-thumb " href="# ">
                            <img src="~/Content/img/products/01.jpg " alt="Product ">
                        </a>
                        <h3 class="product-title pl-1 ">
                            <a href="# ">Kem Cá Trà Xanh</a>
                            <span class="product-card-like-btn ">
                                <i class="icon-heart icons "></i>&nbsp; 6
                            </span>
                        </h3>
                        <h4 class="product-price pl-1 ">
                            $155.00
                            <i class="icon-plus icons text-danger "></i>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-lg-12 text-center star-links">
                    <a href="#" class="active">
                        CREMO
                    </a>
                    <a href="#" class="mx-5">
                        CLEDOR
                    </a>
                    <a href="#">
                        ACAFELA CAFE
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class=" container-fluid py-4 my-4 bg-white container-order-recently">
    <h3 class="text-center mb-30 main-heading ">
        <img src="~/Content/img/stopwatch.png ">Vừa được đặt
    </h3>
    <div class="owl-carousel" data-owl-carousel="{ &quot;loop&quot;: true, &quot;nav&quot;: true, &quot;center&quot;:true, &quot;dots&quot;: false, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}}}">
        <!-- Product-->
        <div class="grid-item ">
            <div class="product-card ">
                <div class="product-badge text-danger ">22% Off</div>
                <a class="product-thumb " href="# ">
                    <img src="~/Content/img/products/01.jpg " alt="Product ">
                </a>
                <h3 class="product-title pl-1 ">
                    <a href="# ">Kem Cá Trà Xanh</a>
                    <span class="product-card-like-btn ">
                        <i class="icon-heart icons "></i>&nbsp; 6
                    </span>
                </h3>
                <h4 class="product-price pl-1 ">
                    $155.00
                    <i class="icon-plus icons text-danger "></i>
                </h4>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item ">
            <div class="product-card ">
                <div class="rating-stars ">
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                    <i class="icon-star "></i>
                </div>
                <a class="product-thumb " href="# ">
                    <img src="~/Content/img/products/02.jpg " alt="Product ">
                </a>
                <h3 class="product-title pl-1 ">
                    <a href="# ">Kem Cá Trà Xanh</a>
                    <span class="product-card-like-btn ">
                        <i class="icon-heart icons "></i>&nbsp; 6
                    </span>
                </h3>
                <h4 class="product-price pl-1 ">
                    $155.00
                    <i class="icon-plus icons text-danger "></i>
                </h4>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item ">
            <div class="product-card ">
                <a class="product-thumb " href="# ">
                    <img src="~/Content/img/products/03.jpg " alt="Product ">
                </a>
                <h3 class="product-title pl-1 ">
                    <a href="# ">Kem Cá Trà Xanh</a>
                    <span class="product-card-like-btn ">
                        <i class="icon-heart icons "></i>&nbsp; 6
                    </span>
                </h3>
                <h4 class="product-price pl-1 ">
                    $155.00
                    <i class="icon-plus icons text-danger "></i>
                </h4>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item ">
            <div class="product-card ">
                <div class="rating-stars ">
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                    <i class="icon-star filled "></i>
                </div>
                <a class="product-thumb " href="# ">
                    <img src="~/Content/img/products/04.jpg " alt="Product ">
                </a>
                <h3 class="product-title pl-1 ">
                    <a href="# ">Kem Cá Trà Xanh</a>
                    <span class="product-card-like-btn ">
                        <i class="icon-heart icons "></i>&nbsp; 6
                    </span>
                </h3>
                <h4 class="product-price pl-1 ">
                    $155.00
                    <i class="icon-plus icons text-danger "></i>
                </h4>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item ">
            <div class="product-card ">
                <a class="product-thumb " href="# ">
                    <img src="~/Content/img/products/05.jpg " alt="Product ">
                </a>
                <h3 class="product-title pl-1 ">
                    <a href="# ">Kem Cá Trà Xanh</a>
                    <span class="product-card-like-btn ">
                        <i class="icon-heart icons "></i>&nbsp; 6
                    </span>
                </h3>
                <h4 class="product-price pl-1 ">
                    $155.00
                    <i class="icon-plus icons text-danger "></i>
                </h4>
            </div>
        </div>
        <!-- Product-->
        <div class="grid-item ">
            <div class="product-card ">
                <div class="product-badge text-danger ">50% Off</div>
                <a class="product-thumb " href="# ">
                    <img src="~/Content/img/products/01.jpg " alt="Product ">
                </a>
                <h3 class="product-title pl-1 ">
                    <a href="# ">Kem Cá Trà Xanh</a>
                    <span class="product-card-like-btn ">
                        <i class="icon-heart icons "></i>&nbsp; 6
                    </span>
                </h3>
                <h4 class="product-price pl-1 ">
                    $155.00
                    <i class="icon-plus icons text-danger "></i>
                </h4>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid pt-4 mt-4 container-brands">
    <h3 class="text-center mb-30 main-heading">
        <img src="~/Content/img/hands.png">Đối tác & khách hàng
    </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:6}} }">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/01.png" alt="Adidas">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/02.png" alt="Brooks">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/03.png" alt="Valentino">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/04.png" alt="Nike">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/05.png" alt="Puma">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/06.png" alt="New Balance">
                <img class="d-block w-150 opacity-75 m-auto" src="~/Content/img/brands/07.png" alt="Dior">
            </div>
        </div>
    </div>
</section>
<div class="container-fluid pt-4 mt-4 container-app ">
    <div class="row ">
        <div class="col-md-5 "></div>
        <div class="col-md-7 content ">
            <h3>Jinz Food App</h3>
            <p class="font-weight-bold pb-4 ">Tải ngay App để đặt hàng nhanh chóng, quản lý đơn hàng thuận tiện và nhiều tin tức hữu ích khác.</p>
            <p>
                <a class="market-button apple-button mb-light-skin " href="# ">
                    <span class="mb-subtitle ">Download on the</span>
                    <span class="mb-title ">App Store</span>
                </a>
                <a class="market-button google-button mb-light-skin " href="# ">
                    <span class="mb-subtitle ">Download on the</span>
                    <span class="mb-title ">Google Play</span>
                </a>
            </p>
        </div>
    </div>
</div>

